<div *ngIf="lb.dataSource as ds" class="pundit-sidebar"
     [ngClass]="{
        'is-collapsed': (ds.isCollapsed | async),
        'is-expanded': !(ds.isCollapsed | async),
        'notebook-panel-open': (lb.dataSource.notebookEditor | async)
     }">

    <div class="n7-icon-pundit pundit-sidebar__logo">
        <img [src]="logo"
             alt="pundit mock logo"
             (click)="lb.eventHandler.emitInner('clicklogo')">
    </div>

    <div class="pundit-sidebar__user-row">
        <!-- pundit icon inside a circle -->
        <div class="n7-icon-pundit pundit-sidebar__logo">
            <img [src]="logo"
                 alt="pundit mock logo"
                 (click)="lb.eventHandler.emitInner('clicklogo')">
        </div>
        <!-- user name -->
        <div class="pundit-sidebar__user-name">
            <n7-anchor-wrapper>John Doe</n7-anchor-wrapper>
        </div>
        <div class="pundit-sidebar__actions">
            <a href="#"
               class="pundit-sidebar__notebook-panel {{ (ds.notebookEditor | async) ? 'active' : ''}}"
               (click)="lb.eventHandler.emitInner('notebookpanel')">
                <n7-anchor-wrapper>
                    <span class="n7-icon-book pundit-sidebar__header-icon"></span>
                </n7-anchor-wrapper>
            </a>
            <a href="#"
               class="pundit-sidebar__close-button"
               (click)="lb.eventHandler.emitInner('sidebarclose')">
                <n7-anchor-wrapper>
                    <span class="n7-icon-close pundit-sidebar__header-icon"></span>
                </n7-anchor-wrapper>
            </a>
        </div>

    </div>
    
    <!-- notebook selection / creation panel -->
    <ng-container *ngIf="lb.dataSource.notebookEditor.getValue()">
        <ng-container *ngTemplateOutlet="notebookpanel"></ng-container>
    </ng-container>
    

    <div class="pundit-sidebar__cont"
         [style.height]="ds.height$ | async">
        <div class="pundit-sidebar__annotation-column">
            <n7-header [data]="ds.headerMock"></n7-header>
            <ng-container *ngFor="let annotation of lb.widgets['annotation'].ds.out$ | async">
                <n7-annotation [data]="annotation"
                               [emit]="lb.widgets['annotation'].emit">
                </n7-annotation>
            </ng-container>
        </div>
    </div>
</div>


<ng-template #notebookpanel>
    <notebook-panel [data]="lb.widgets['notebook-panel'].ds.out$ | async"
                    [emit]="lb.widgets['notebook-panel'].emit"></notebook-panel>
</ng-template>
