<div *ngIf="lb.dataSource as ds"
     class="pnd-sidebar"
     [ngClass]="{
        'is-collapsed': (ds.isCollapsed | async),
        'is-expanded': !(ds.isCollapsed | async),
        'has-notebook-panel-open': (lb.dataSource.notebookEditor | async)
    }">
    
    <!-- Pundit Logo toggle -->
    <div class="pnd-sidebar__logo"
        (click)="lb.eventHandler.emitInner('clicklogo')">
        <pnd-svg-icon [data]="{ id: 'pundit' }"></pnd-svg-icon>
    </div>
    <!-- END // Pundit Logo toggle -->

    <!-- Header -->
    <div class="pnd-sidebar__header">
        <div class="pnd-sidebar__user-name">
            <ng-container *ngIf="!(ds.userService.logged$ | async)">
                <a (click)="lb.eventHandler.emitInner('requestlogin')"
                    class="pnd-sidebar__header-login">Login</a>
                <span class="pnd-sidebar__header-separator"></span>
                <a (click)="lb.eventHandler.emitInner('requestregister')"
                    class="pnd-sidebar__header-register">Register</a>
            </ng-container>
            <ng-container *ngIf="ds.userService.logged$ | async">
                <span (click)="ds.onUsernameClick($event)">
                    <!-- <a [href]="ds.userLink"  target="_blank" class="pnd-sidebar__user-name-link"> -->
                    {{ ds.userService.whoami().username }}
                    <!-- </a> -->
                </span>
            </ng-container>
        </div>
        <!-- User popover -->
        <ng-container *ngIf="ds.userPopover.isOpen | async">
            <div class="pnd-sidebar__user-popover">
                <ul class="pnd-sidebar__user-popover-list">
                    <ng-container *ngFor="let item of ds.userPopover.items">
                        <ng-container *ngIf="item.href">
                            <li class="pnd-sidebar__user-popover-item">
                                <a [href]="item.href" target="_blank">
                                    {{ item.label }}
                                </a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="item.payload">
                            <li class="pnd-sidebar__user-popover-item" (click)="lb.eventHandler.emitInner(item.payload)">
                                {{ item.label }}
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </ng-container>
        <div *ngIf="ds.userService.logged$ | async" class="pnd-sidebar__actions">
            <a class="pnd-sidebar__action pnd-sidebar__notebook-panel {{ (ds.notebookEditor | async) ? 'is-active' : ''}}"
               (click)="lb.eventHandler.emitInner('notebookpanel')">
                <pnd-svg-icon [data]="{ id: 'book' }"></pnd-svg-icon>
            </a>
            <a class="pnd-sidebar__action pnd-sidebar__close-button"
               (click)="lb.eventHandler.emitInner('sidebarclose')">
                <pnd-svg-icon [data]="{ id: 'angle-right' }"></pnd-svg-icon>
            </a>
        </div>
    </div>
    <!-- END // Header -->

    <!-- Notebook popover -->
    <ng-container *ngIf="
        (ds.userService.logged$ | async) && 
        (lb.dataSource.notebookEditor | async)
    ">
        <ng-container *ngTemplateOutlet="notebookpanel"></ng-container>
    </ng-container>
    <!-- END // Notebook popover -->

    <!-- Sidebar content -->
    <div class="pnd-sidebar__content"
         [style.height]="ds.height$ | async">
         <ng-container *ngIf="lb.dataSource.annotations; else annotationloader">
            <ng-container *ngFor="let annotation of lb.dataSource.annotations">
                <annotation [ngClass]="annotation"
                            [data]="annotation.ds.out$ | async"
                            [emit]="lb.widgets['annotation'].emit">
                </annotation>
            </ng-container>
        </ng-container>
        <ng-template #annotationloader>
            <div *ngIf="!(ds.isCollapsed | async)" class="pnd-sidebar__loader-wrapper">
                <span class="pnd-loader"><span class="pnd-loader__content"></span></span>
            </div>
        </ng-template>
    </div>
    <!-- END //Sidebar content -->
</div>


<ng-template #notebookpanel>
    <notebook-panel [data]="lb.widgets['notebook-panel'].ds.out$ | async"
                    [emit]="lb.widgets['notebook-panel'].emit"></notebook-panel>
</ng-template>
