@use "sass:color";
@use "../generic/color-scheme";
@use "../generic/mixins";
@use "../generic/variables";

/**
 * ANNOTATION
 *
 * Style for single annotation displayed in the sidebar.
 */

/* ------------------------------------ *\
   #ANNOTATION
\* ------------------------------------ */
.pnd-annotation {
    position: relative;
    // max-height: 200px;
    margin: 0 variables.$space*0.25 variables.$space*0.25 variables.$space*0.25;
    border-radius: variables.$border-radius;
    background-color: variables.$annotation-background-color;
    border: 1px solid variables.$annotation-border-color;
    @include mixins.cardShadow-1;
    transition: box-shadow variables.$transition-durations;
}

annotation {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
}


/* ------------------------------------ *\
   #ANNOTATION-HEADER
\* ------------------------------------ */
.pnd-annotation {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin: $space;
        padding: variables.$space;
        border-bottom: 1px solid variables.$annotation-border-color;
    }

    /* Image */
    &__header-thumb-wrapper {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        height: 30px;
        width: 30px;
        margin-right: variables.$space;
        border-radius: variables.$border-radius;
    }

    &__header-initials {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border-radius: variables.$border-radius;
        background: color-scheme.$color-gray-03;
        text-align: center;
        line-height: 30px;
        font-size: variables.$font-size-s;
        font-weight: variables.$font-weight-bold;
        // max-width: 30px;
        // overflow: hidden;
        // width: auto;
        // margin-right: $space;
    }

    &__header-thumb-image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        max-width: 30px;
        overflow: hidden;
        width: auto;
        // margin-right: $space;
        border-radius: variables.$border-radius;
        

        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            height: 30px;
            width: 30px;
            left: 0;
            text-align: center;
            background-color: variables.$color-background-light;
            box-shadow: inset 0 0 10px rgba(0,0,0,.08);
            border-radius: variables.$border-radius;
        }
    }

    &__header-thumb-image-hypo {
        display: block;
        position: absolute;
        height: 34px;
        max-width: 34px;
        width: auto;
    }

    /* Info */
    &__header-info {
        margin-right: auto;
        padding-right: 8px;
        overflow: hidden;
    }
    
    &__header-name {
        margin-bottom: 3px;
        font-size: variables.$font-size-s;
        line-height: 1;
        font-weight: variables.$font-weight-bold;
        color: variables.$color-text;
        transition: color variables.$transition-durations;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    // User name link.
    a {
        color: variables.$color-text;
        text-decoration-color: rgba(variables.$color-text, .2);
        transition: text-decoration-color variables.$transition-durations;
        
        .pnd-annotation__header-name { // div
            cursor: pointer;
            color: variables.$color-text;
        }

        &:hover, &:active, &:focus {
            color: variables.$color-text-link;
            text-decoration-color: rgba(variables.$color-text-link, .6);

            .pnd-annotation__header-name { // div
                color: variables.$color-text-link;
            }
        }
    }
    
    &__header-additional-info {
        display: flex;
        font-size: variables.$font-size-xs;
        color: variables.$color-text-light;
    }

    &__header-date {
    }

    &__header-notebook {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:before {
            content: "·";
            margin-right: variables.$space*0.5;
            margin-left: variables.$space*0.5;
        }
    }

    &__header-notebook-link {
        color: variables.$color-text;
        cursor: pointer;
        text-decoration-color: rgba(variables.$color-text, .2);
        transition: text-decoration-color variables.$transition-durations;
        
        &:hover {
            color: variables.$color-text-link;
            text-decoration-color: rgba(variables.$color-text-link, .6);
        }
    }

    /* Menu and dropdown */
    &__header-menu {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        position: relative;
    }

    &__header-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-left: variables.$space*0.5;
        border-radius: variables.$border-radius;
        border: 1px solid variables.$color-border-normal;
        background-color: variables.$color-background-light;
        cursor: pointer;
        color: variables.$color-text-light;
        font-size: variables.$font-size-s;
        transition: color variables.$transition-durations;
        
        .pnd-svg-icon, .pnd-svg-icon svg {
            width: variables.$font-size-s;
            height: variables.$font-size-s;
        }

        &:hover {
            color: variables.$color-text-link;
            border: 1px solid variables.$color-text-link;
        }
    }

    &__menu-dropdown {
        position: absolute;
        z-index: 40;
        top: 24px + variables.$space*0.5;
        right: 24px + variables.$space*0.5;
        width: 140px;
        padding: 0;
        background-color: variables.$color-background-base;
        border: 1px solid variables.$color-border-normal;
        border-radius: variables.$border-radius;
        @include mixins.cardShadow-1;

        &.has-notebooks {
            width: 240px;
            padding: variables.$space;
        }

        .pnd-notebook-selector {
            width: 100%;
        }

        &.share {
            right: variables.$space*0.5;
        }

    }

    &__menu-notebooks-header {
        margin-bottom: variables.$space*0.5;
    }

    &__menu-dropdown-action {
        padding: variables.$space*1 variables.$space*1.5;
        font-size: variables.$font-size-s;
        color: variables.$color-text;
        cursor: pointer;
        transition: color variables.$transition-durations;

        &:not(:last-child) {
            border-bottom: 1px solid variables.$color-border-normal;
        }

        &:hover {
            color: variables.$color-text-link;
        }
        
        & a {
            display: block;
            text-decoration: none;
        }
    }
}


/* ------------------------------------ *\
   #HIGHLIGHT-COMMENT
\* ------------------------------------ */
.pnd-annotation {
    .pnd-annotation__highlight-text {
        display: block;
        box-sizing: border-box;
        background-color: color-scheme.$color-highlight;
        font-size: variables.$font-size-s;
        font-style: italic;
    }

    .hypo {
        background-color: #ddddce;
    }

    .pnd-annotation__comment {
        position: relative;
        z-index: 20;
        background-color: variables.$annotation-comment-background-color;
    }

    .pnd-annotation__comment-text {
        display: block;
        box-sizing: border-box;
        font-size: variables.$font-size-xs;

        p, ol, ul {
            margin: 0 0 variables.$space;
        }

        ol, ul {
            padding: 0 0 0 variables.$space*4;
        }

        code {
            padding: variables.$space*0.25 variables.$space*0.5;
            font-size: 90%;
            background-color: color-scheme.$color-gray-01;
            color: color.adjust(color-scheme.$color-gray-05, $lightness: 30%);
            border-radius: 4px;
        }

    }

    .pnd-annotation__comment-plain-text {
        display: none;
        box-sizing: border-box;
        font-size: variables.$font-size-s;
    }
}


/* ------------------------------------ *\
   #SEMANTIC ANNOTATIONS
\* ------------------------------------ */
.pnd-annotation {
    .pnd-annotation__semantic {
        // border-bottom: 3px double $annotation-border-color;
    
        &:last-child {
            border-bottom: 0;
        }
    }

    .pnd-annotation__semantic-item-predicate {
        display: inline-block;
        position: relative;
        height: 20px;
        margin-left: 10px;
        padding: 0 8px;
        background: color-scheme.$color-predicate;

        font-size: 13px;
        line-height: 20px;
        font-style: italic;
        color: #ffffff;
        text-align: center;
        border-radius: 3px;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.10);

        /* Orange carets above and below */
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            margin-left: -2px;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
        }

        &:before {
            top: -3px;
            border-bottom: 3px solid color-scheme.$color-predicate;
        }

        &:after {
            top: 20px;
            border-top: 3px solid color-scheme.$color-predicate;
        }
    }

    /* The Object in semantic annotations */
    .pnd-annotation__semantic-item-object {
        font-size: variables.$font-size-xs;
        color: variables.$color-text-light;
        padding: variables.$space*2 variables.$space variables.$space;
        margin-top: -(variables.$space);
        background-color: color-scheme.$color-gray-01;
        border-top: variables.$annotation-border-size solid variables.$annotation-border-color;

        .pnd-annotation__header {
            padding: 0px variables.$space;
            align-items: initial;
            border-bottom: 0;
        }

        .pnd-annotation__header-thumb-wrapper,
        .pnd-annotation__header-thumb-image {
            margin: 2px;
            max-height: 40px;
            max-width: 40px;
            width: 40px;
            height: 40px;
        }

        .pnd-annotation__header-name__header-info {
            margin-right: auto;
            padding-right: 8px;
            overflow: hidden;
        }

        a .pnd-annotation__header-name,
        .pnd-annotation__header-name {
            font-size: variables.$font-size-m;
            font-weight: variables.$font-weight-bold;
            margin: 5px 8px;
            text-decoration: none;
        }

        .pnd-annotation__header-types {
            margin: 6px;
        }

        a .pnd-annotation__header-type,
        .pnd-annotation__header-type {
            margin: 2px;
            padding: 2px 3px;
            display: inline-block;
            height: 10px;
            background-color: rgb(232, 235, 237);
            color: rgb(127, 133, 140);
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: variables.$font-size-xxs;
            text-transform: uppercase;
            text-shadow: white 0px 1px 0px;
            box-shadow: color-scheme.$color-gray-05 0px 1px 2px;
            overflow: hidden;
            border-width: 1px;
            border-style: solid;
            border-color: color-scheme.$color-gray-03;
            border-image: initial;
            list-style: none;
            border-radius: 3px;
            text-decoration: none;
        }

        &__description {
            padding: 0px variables.$space ;
            align-items: initial;
            border-bottom: 0px;
        }
    }
}


/* ------------------------------------ *\
   #TAGS
\* ------------------------------------ */
.pnd-annotation {
    .pnd-annotation__tags {
        display: flex;
        flex-wrap: wrap;
    }

    .pnd-annotation__tags-item {
        font-size: variables.$font-size-xs;
        padding: variables.$space*0.25 variables.$space*0.5;
        margin: variables.$space*0.25;
        color: variables.$color-text;
        border-radius: variables.$border-radius;
    }
}

/* ------------------------------------ *\
   #SOCIAL-BAR
\* ------------------------------------ */
.pnd-annotation {
    &__social {
        text-align: left;
    }

    &__social-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid color-scheme.$color-gray-03;
    }

    a.pnd-annotation__social-bar-action {
        margin: variables.$space*0.5;
        color: color-scheme.$color-gray-04;
        .pnd-svg-icon, .pnd-svg-icon svg {
            width: variables.$font-size-xxs;
            height: variables.$font-size-xxs;
        }
        
        &:hover, &.is-active {
            cursor: pointer;
            color: variables.$color-text-link;
        }

        .pnd-svg-icon {
            margin-right: variables.$space*0.5;
            svg {
                height: 14px;
            }
        }
    }
    
    &__social-bar-action:hover {
        margin-right: variables.$space*0.5;
    }

    &__social-bar-action > span {
        font-size: variables.$font-size-xxs;
    }
}


/* ------------------------------------ *\
   #SOCIAL-REPLY
\* ------------------------------------ */
.pnd-annotation {
    &__reply-textarea-wrapper {
        border-top: 1px solid color-scheme.$color-gray-03;
        padding: variables.$space 0 variables.$space*0.5;
    }

    &__reply-textarea {
        width: calc(100% - 8px);
        height: 100px;
        resize: none;
        margin: 0 variables.$space*0.5;
        font-size: variables.$font-size-xs;
        padding: variables.$space;
    }

    .pnd-annotation__reply__new-reply-footer,
    .pnd-annotation__reply__edit-reply-footer {
        display: flex;
        justify-content: flex-end;
        margin: 0 variables.$space*0.5 variables.$space;

        .pnd-notebook-selector {
            width: 100%;
        }

        .pnd-btn {
            width: 70px;
        }
    }

    .pnd-annotation__reply__new-reply-actions,
    .pnd-annotation__reply__edit-reply-actions {
        .pnd-btn:last-child {
            margin-left: variables.$space*0.5;
        }
    }

    pnd-annotation-reply {
        .pnd-annotation__header {
            padding-left: variables.$space*2;
            align-items: initial;
            border-bottom: 0;
            border-top: 1px solid color-scheme.$color-gray-03;
        }

        .pnd-annotation__header-thumb-wrapper,
        .pnd-annotation__header-initials,
        .pnd-annotation__header-thumb-image {
            height: 24px;
            width: 24px;
        }

        a .pnd-annotation__header-name,
        .pnd-annotation__header-name {
            font-size: variables.$font-size-xs;
            line-height: 14px;
            margin-bottom: 0;
            margin-right: variables.$space*0.5;
        }

        .pnd-annotation__header-reply {
            font-size: variables.$font-size-xs;
            line-height: 14px;
            color: color-scheme.$color-gray-04;
            margin-bottom: 0;
        }

        .pnd-annotation__social-bar {
            margin-left: variables.$space*2;
            border-top: 1px solid color-scheme.$color-gray-02;
        }

        .pnd-annotation__menu-dropdown {
            right: 0;
        }
    }
}

/* ------------------------------------ *\
   #EXPANDED-ANNOTATION
\* ------------------------------------ */
.pnd-annotation.is-expanded {
    .pnd-annotation__highlight {
        max-height: 100px;
        overflow-y: auto;
        padding: variables.$space variables.$space variables.$space variables.$space;
        line-height: 20px;
    }

    &.has-comment {
        .pnd-annotation__highlight {
            padding-bottom: variables.$space*2;
        }
    }

    .pnd-annotation__highlight-text {
        display: inline;
    }

    .pnd-annotation__comment {
        max-height: 100px;
        overflow-y: auto;
        padding: variables.$space variables.$space variables.$space variables.$space;
        border-top: 1px solid variables.$annotation-border-color;
    }

    .pnd-annotation__tags {
        padding: variables.$space*0.5;
        border-top: 1px solid variables.$annotation-border-color;
    }

    /* Caret */
    .pnd-annotation__caret {
        position: absolute;
        z-index: 30;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-bottom-color: variables.$annotation-border-color;
        border-top-width: 0;
        border-width: 10px;
        margin-top: -19px;
        left: 15px;

        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 0;
            left: -9px;
            top: 1px;
            border-color: transparent;
            border-style: solid;
            border-width: 9px;
            border-bottom-color: variables.$annotation-comment-background-color;
            border-top-width: 0;
        }
    }
}


/* ------------------------------------ *\
   #COLLAPSED-ANNOTATION
\* ------------------------------------ */
.pnd-annotation.is-collapsed {
    height: variables.$annotation-collapsed-height;
    display: flex;
    align-items: center;
    cursor: pointer;

    pnd-highlight-annotation-section {
        max-width: calc( 100% - #{variables.$space} );
        padding: 0 variables.$space*0.5 0 variables.$space;
    }

    .pnd-annotation__highlight-text {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.is-fullpage {
            text-overflow: unset;
        }
    }

    /* Hover */
    &.is-hovered, &:hover {
        @include mixins.cardShadow-2;

        .pnd-annotation__highlight-text {
            background-color: color-scheme.$color-highlight-hover;
        }
    }
}

/* Collapsed with comment */
.pnd-annotation.is-collapsed.has-comment {
    justify-content: space-between;

    pnd-highlight-annotation-section, .pnd-annotation__highlight {
        max-width: calc( 50% - 9px );
    }

    .pnd-annotation__highlight {
        max-width: 100%;
    }

    pnd-comment-annotation-section, .pnd-annotation__comment {
        display: flex;
        align-items: center;
        width: calc( 50% - 12px );
        height: variables.$annotation-collapsed-height;
        line-height: 20px;
    }

    .pnd-annotation__comment {
        width: 100%;
    }

    .pnd-annotation__comment-text {
        display: none;
    }

    .pnd-annotation__comment-plain-text {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pnd-annotation__caret {
        position: absolute;
        z-index: 10;
        display: block;
        width: 0;
        height: 0;
        top: 1px;
        //left: 146px;
        left: 184px;
        margin-top: 0;
        border-color: transparent;
        border-style: solid;
        border-right-color: variables.$annotation-border-color;
        border-left-width: 0;
        border-width: variables.$annotation-collapsed-height*0.5;

        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            right: - variables.$annotation-collapsed-height*0.5;
            bottom: -(variables.$annotation-collapsed-height*0.5)+1;

            border-color: transparent;
            border-style: solid;
            border-width: variables.$annotation-collapsed-height*0.5 - 1;
            border-right-color: variables.$annotation-comment-background-color;
            border-left-width: 0;
        }
    }
}

.pnd-annotation.is-fullpage {
    
    &.has-comment.is-collapsed{}

    .pnd-annotation__highlight-text {
        background-color: transparent;
    }
}


/* ------------------------------------ *\
   #STATUSES
\* ------------------------------------ */
.pnd-annotation.is-edited,
.pnd-annotation.is-deleted {
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}


/* ------------------------------------ *\
   #ANNOTATION-IN-COLLAPSED-SIDEBAR
\* ------------------------------------ */
.pnd-sidebar.is-collapsed {
    .pnd-annotation,
    .pnd-annotation.is-collapsed.has-comment {
        height: variables.$annotation-collapsed-height;
        width: variables.$sidebar-collapsed-width - 6px;
        cursor: pointer;

        .pnd-annotation__highlight {
            display: block;
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            max-width: none;
            padding: 0;
            background-color: color-scheme.$color-highlight;
        }

        .pnd-annotation__tags,
        .pnd-annotation__header,
        .pnd-annotation__highlight-text,
        .pnd-annotation__comment,
        .pnd-annotation__notebook, 
        .pnd-annotation__semantic,
        .pnd-annotation__social {
            display: none;
        }
        
        pnd-social-annotation-section {
            display: none;
        }

        &.is-hovered, &:hover {
            .pnd-annotation__highlight {
                background-color: color-scheme.$color-highlight-hover;
            }
        }
    }
}
