/**
 * RESOURCE MODAL
 *
 * Style for the modal.
 */

/* ------------------------------------ *\
   #RESOURCE MODAL
\* ------------------------------------ */
.pnd-comment-modal {
    &__window {
        pointer-events: auto;
        height: auto !important;
        overflow-y: visible;
    }

    &__highlight-wrapper {
        padding: $space*2;
        max-height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        border-top: 1px solid $annotation-border-color;
    }

    &__highlight {
        display: inline;
        background-color: $color-highlight;
        font-size: $font-size-s;
        font-style: italic;
    }

    &__comment-wrapper {
        padding: $space*2;
        border-top: 1px solid $annotation-border-color;
        border-bottom: 1px solid $annotation-border-color;
        background-color: $annotation-comment-background-color;
    }

    &__comment-label {
        margin-bottom: $space;
        font-size: $font-size-s;
    }

    &__comment-textarea {
        width: 100%;
        height: $space*20;
        resize: none;
    }
}


/* ------------------------------------ *\
   #FOOTER
\* ------------------------------------ */
.pnd-comment-modal {
    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $space*2;

        .pnd-notebook-selector {
            width: 100%;
        }
    }

    &__footer-notebook {
        flex-grow: 2;
        flex-shrink: 0;
        padding-right: $space*2;
    }

    &__footer-actions {
        flex-grow: 0;
        flex-shrink: 0;
        text-align: right;
        
        .pnd-btn:last-child {
            margin-left: $space/2;
        }

        .pnd-btn:focus {
            height: $space*4;
        }
    }
}


/* ------------------------------------ *\
   #CLOSE
\* ------------------------------------ */
.pnd-modal {
    &__close {
        
        [class^="pundit-icon-"] {
            font-size: $font-size-m;
        }
    }
}


/* ------------------------------------ *\
   #HANDLE
\* ------------------------------------ */
.pnd-comment-modal {
    &__handle {
        height: 40px;
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;

        [class^="pundit-icon-"] {
            font-size: $font-size-l;
            color: $color-text-light;
            transition: color $transition-durations;
        }

        &:hover {
            [class^="pundit-icon-"] {
                color: $color-text;
            }
        }
    }
}


/* ------------------------------------ *\
   #SELECT
\* ------------------------------------ */
/* .pnd-comment-modal {
    &__select {
        select {
            appearance: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
            height: $space * 3;
        }
        border: 1px solid $color-gray-03;
        background-color: $color-gray-02;
        border-radius: 3px;
        display: flex;
        position: relative;

        &::after {
            content: "\e900";
            font-family: "pundit-icon-font";
            position: absolute;
            padding: 0px 4px;
            right: 0px;
            top: 0px;
            display: flex;
            height: 100%;
            background: $color-gray-02;
            align-items: center;
            border-left: 1px solid $color-gray-03;
        }
    }
} */


/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-comment-modal {
    &__overlay {
        pointer-events: none;
        background-color: transparent;
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}