/**
 * RESOURCE MODAL
 *
 * Style for the modal.
 */
 
/* ------------------------------------ *\
   #RESOURCE MODAL
\* ------------------------------------ */
.pnd-comment-modal {
    &__window {
        position: relative;
        max-width: $modal-width;
        background: $color-background-base;
        @include cardShadow;
        border: 1px solid $color-border-normal;
        margin: $space*10 auto 0 auto;
        border-radius: $border-radius*2;
        overflow-y: auto;
    }

    /* Close */
    &__close {
        position: absolute;
        top: $space*2;
        right: $space*2;
        cursor: pointer;
    }

    &__close-link {
        color: $color-gray-04;
        font-size: $font-size-xl;
    }

    /* Content */
    &__content {
        padding: $space*5;
    }

    textarea {
        margin: $space 0;
        width: 100%;
        height: 100px;
    }

    &__actions {
        text-align: right;
        a {
            margin-left: $space;
    
            &.primary {
                color: $color-main;
            }
        }
    }
}



/* ------------------------------------ *\
   #SELECT
\* ------------------------------------ */
.pnd-comment-modal {
    &__notebooks-select {
        .pnd-comment-modal__notebooks-items {
            display: none;
        }
        
        &.is-open {
            .pnd-comment-modal__notebooks-items {
                display: block;
            }
        }
    }
}

/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-comment-modal {
    &__overlay {
        position: fixed;
        z-index: 999;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba($color-gray-02, .8);
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}