/**
 * DELETE MODAL
 *
 * Style for the modal.
 */

/* ------------------------------------ *\
   #DELETE MODAL
\* ------------------------------------ */
.pnd-delete-modal {
    z-index: $z-index-modal;
    box-shadow: 0px 8px 11px 0px $color-gray-03;
    font-family: $font-family-main;

    &__window {
        position: relative;
        max-width: $modal-width;
        @include cardShadow-1;
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;
        margin: $space*10 auto 0 auto;
        background: $color-background-base;
        overflow-y: auto;
    }
    
    &__header {
        padding: $space*3;
        background-color: $annotation-comment-background-color;
    }

    &__header-label {
        color: $color-text;
        margin-bottom: $space;
        font-size: $font-size-xxl;
        font-weight: bold;
    }

    &__body {
        padding: $space*3;
        border-top: 1px solid $annotation-border-color;
        border-bottom: 1px solid $annotation-border-color;
    }
    
    &__body-text {
        color: $color-text;
        font-size: $font-size-s;
    }

    &__actions {
        padding: $space*2;
        text-align: right;
        
        .pnd-btn:last-child {
            margin-left: $space/2;
        }
    }
}


/* ------------------------------------ *\
   #CLOSE
\* ------------------------------------ */
.pnd-delete-modal {
    &__close {
        position: absolute;
        top: $space*1.5;
        right: $space*2;
        cursor: pointer;

        [class^="pundit-icon-"] {
            font-size: $font-size-m;
            color: $color-text-light;
            transition: color $transition-durations;

            &:hover {
                color: $color-text-link;
            }
        }
    }
}

/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-delete-modal {
    &__overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
