/**
 * RESOURCE MODAL
 *
 * Style for the modal.
 */

/* ------------------------------------ *\
   #RESOURCE MODAL
\* ------------------------------------ */
.pnd-edit-modal {
    &__window {
        pointer-events: auto;
        height: auto !important;
        overflow-y: visible;
    }

    &__highlight-wrapper {
        padding: $space*2;
        max-height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        border-top: 1px solid $annotation-border-color;
        line-height: 20px;
    }

    &__highlight {
        display: inline;
        background-color: $color-highlight;
        font-size: $font-size-s;
        font-style: italic;
    }

    &__comment-wrapper {
        padding: $space*2;
        border-top: 1px solid $annotation-border-color;
        border-bottom: 1px solid $annotation-border-color;
        background-color: $annotation-comment-background-color;
    }

    &__comment-label {
        margin-bottom: $space;
        font-size: $font-size-s;
    }

    &__comment-textarea {
        width: 100%;
        height: $space*20;
        resize: none;
    }

    &__comment-textarea-wrapper {
        line-height: 20px;
    }

    &__tag-wrapper {
        padding: $space*2;
        border-top: 1px solid $annotation-border-color;
        border-bottom: 1px solid $annotation-border-color;
    }
}


/* ------------------------------------ *\
   #FOOTER
\* ------------------------------------ */
.pnd-edit-modal {
    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $space*2;

        .pnd-notebook-selector {
            width: 100%;
        }
    }

    &__footer-notebook {
        flex-grow: 2;
        flex-shrink: 0;
        padding-right: $space*2;
    }

    &__footer-actions {
        flex-grow: 0;
        flex-shrink: 0;
        text-align: right;
        
        .pnd-btn:last-child {
            margin-left: $space/2;
        }
    }
}


/* ------------------------------------ *\
   #CLOSE
\* ------------------------------------ */
.pnd-modal {
    &__close {
        .pnd-svg-icon svg {
            width: 18px;
            height: auto;
        }
    }
}


/* ------------------------------------ *\
   #HANDLE
\* ------------------------------------ */
.pnd-edit-modal {
    &__handle {
        height: 40px;
        cursor: grab;
        display: flex;
        align-items: center;
        justify-content: center;

        [class^="pnd-svg-icon-"] {
            width: $font-size-l;
            height: $font-size-l;
            color: $color-text-light;
            transition: color $transition-durations;
            svg {
                width: $font-size-l;
                height: $font-size-l;
            }
        }

        &:hover {
            [class^="pnd-svg-icon-"] {
                color: $color-text;
            }
        }
    }
}


/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-edit-modal {
    &__overlay {
        pointer-events: none;
        background-color: transparent;
    }
}


/* ------------------------------------ *\
   #TAGIFY FIX
\* ------------------------------------ */
.pnd-edit-modal__tag-wrapper {
    position: relative;
}


/* ------------------------------------ *\
   #SEMANTIC SECTION
\* ------------------------------------ */
.pnd-edit-modal__semantic-wrapper {
    padding: $space*2;
    border-top: 1px solid $annotation-border-color;
    border-bottom: 1px solid $annotation-border-color;
    background-color: $annotation-comment-background-color;

    .pnd-edit-modal__semantic-label {
        margin-bottom: $space;
        font-size: $font-size-s;
    }

    .pnd-edit-modal__semantic-row {
        display: flex;
        margin-bottom: $space;
    }
    
    .pnd-edit-modal__semantic-row:last-child {
        margin-bottom: 0;
    }

    .pnd-dropdown {
        width: 130px;
    }

    .pnd-dropdown__list-wrapper {
        z-index: 2;
    }

    .pnd-edit-modal__semantic-object {
        margin-left: $space;

        &-label {
            display: inline-block;
            width: 40px;
            text-align: right;
            margin-right: $space;
            font-size: $font-size-xs;
        }
    }

    .pnd-edit-modal__semantic-actions {
        a {
            margin: 0 0 0 $space;
            padding: 0 6px;
            font-family: monospace;
            height: 20px;
            width: 20px;
            vertical-align: sub;
        }
    }
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}