@use "../generic/mixins";
@use "../generic/variables";

/**
 * MODAL
 *
 * Style for the modal modal.
 */

/* ------------------------------------ *\
   #MODAL
\* ------------------------------------ */
.pnd-modal {
    position: relative;
    z-index: variables.$z-index-modal;
    text-align: left;
    
    &__window {
        position: relative;
        max-width: variables.$modal-width;
        margin: variables.$space*10 auto 0 auto;
        @include mixins.modalShadow;
        border: 1px solid variables.$color-border-normal;
        border-radius: variables.$border-radius;
        background: variables.$color-background-base;
        overflow-y: auto;
    }
    
    &__header {
        padding: variables.$space*2 variables.$space*3;
        background-color: variables.$color-background-light;
    }

    &__header-text {
        color: variables.$color-text;
        // margin-bottom: $space;
        font-size: variables.$font-size-xxl;
        font-weight: variables.$font-weight-bold;
    }

    &__body {
        padding: variables.$space*3;
        border-top: 1px solid variables.$color-border-normal;
        border-bottom: 1px solid variables.$color-border-normal;
    }
    
    &__body-text {
        color: variables.$color-text;
        font-size: variables.$font-size-m;
    }

    &__actions {
        padding: variables.$space*2;
        text-align: right;
        
        .pnd-btn:not( :first-child ) {
            margin-left: variables.$space;
        }
    }
}


/* ------------------------------------ *\
   #CLOSE
\* ------------------------------------ */
.pnd-modal {
    &__close {
        position: absolute;
        top: variables.$space*1.5;
        right: variables.$space*2;
        cursor: pointer;

        .pnd-svg-icon {
            width: variables.$font-size-l;
            height: variables.$font-size-l;
            
            svg {
                width: variables.$font-size-l;
                height: variables.$font-size-l;
                color: variables.$color-text-light;
                transition: color variables.$transition-durations;
                &:hover {
                    color: variables.$color-text-link;
                }
            }

        }
    }
}


/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-modal {
    &__overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( variables.$color-background-light, .5);
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: variables.$breakpoint-laptop) {
}

@media all and (max-width: variables.$breakpoint-ipad-portrait) {
}

@media all and (max-width: variables.$breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
