/**
 * MODAL
 *
 * Style for the modal modal.
 */

/* ------------------------------------ *\
   #MODAL
\* ------------------------------------ */
.pnd-modal {
    position: relative;
    z-index: $z-index-modal;
    text-align: left;
    
    &__window {
        position: relative;
        max-width: $modal-width;
        margin: $space*10 auto 0 auto;
        @include modalShadow;
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;
        background: $color-background-base;
        overflow-y: auto;
    }
    
    &__header {
        padding: $space*2 $space*3;
        background-color: $color-background-light;
    }

    &__header-text {
        color: $color-text;
        // margin-bottom: $space;
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
    }

    &__body {
        padding: $space*3;
        border-top: 1px solid $color-border-normal;
        border-bottom: 1px solid $color-border-normal;
    }
    
    &__body-text {
        color: $color-text;
        font-size: $font-size-m;
    }

    &__actions {
        padding: $space*2;
        text-align: right;
        
        .pnd-btn:not( :first-child ) {
            margin-left: $space;
        }
    }
}


/* ------------------------------------ *\
   #CLOSE
\* ------------------------------------ */
.pnd-modal {
    &__close {
        position: absolute;
        top: $space*1.5;
        right: $space*2;
        cursor: pointer;

        .pnd-svg-icon {
            width: $font-size-l;
            height: $font-size-l;
            
            svg {
                width: $font-size-l;
                height: $font-size-l;
                color: $color-text-light;
                transition: color $transition-durations;
                &:hover {
                    color: $color-text-link;
                }
            }

        }
    }
}


/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-modal {
    &__overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba( $color-background-light, .5);
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $breakpoint-laptop) {
}

@media all and (max-width: $breakpoint-ipad-portrait) {
}

@media all and (max-width: $breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
