@use "../generic/mixins";
@use "../generic/variables";

/**
 * NOTEBOOK SHARE MODAL
 */

/* ------------------------------------ *\
   #NOTEBOOK SHARE MODAL
\* ------------------------------------ */
.pnd-notebook-share-modal {
    &__input {
        margin-top: variables.$space;
        input {
            width: 100%;
        }
    }

    &__results-wrapper {
        position: relative;
    }

    &__results {
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        top: variables.$space;
        background-color: variables.$color-background-base;
        border: 1px solid variables.$color-border-normal;
        border-radius: variables.$border-radius;
        @include mixins.cardShadow-1;
        max-height: variables.$notebook-selector-list-max-height;
        overflow-y: auto;
        overflow-x: hidden;
    }

    // autocomplete item
    &__item {
        display: flex;
        align-items: center;
        padding: variables.$space * .5 variables.$space;

        &:hover {
            cursor: pointer;
            background-color: variables.$color-background-light;
        }
    }
    &__item-thumb {
        img {
            height: 24px;
            width: 24px;
            border-radius: variables.$border-radius;
        }
        margin-right: variables.$space;
    }
    // &__item-content {
        
    // }
    &__item-label {
        font-weight: variables.$font-weight-bold;
    }
    &__item-email {
        font-size: variables.$font-size-xs;
        color: variables.$color-text-light;
    }

    // users list
    &__list {
        margin-top: variables.$space * 4;

        .pnd-modal__body-title {
            font-size: variables.$font-size-l;
            font-weight: variables.$font-weight-bold;
            margin-bottom: variables.$space;
        }

        .pnd-modal__body-list {
            max-height: 25vh;
            height: 20vh;
            overflow: auto;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        padding: variables.$space * .5 0;
    }

    &__list-item-thumb {
        img {
            height: 32px;
            width: 32px;
            border-radius: variables.$border-radius;
        }
        margin-right: variables.$space;
    }
    &__list-item-label {
        flex-grow: 1;
        font-weight: variables.$font-weight-bold;
    }
    &__list-item-role {
        font-size: variables.$font-size-s;
        padding: variables.$space * .25 variables.$space * .5;
        background-color: variables.$color-background-medium;
        border-radius: variables.$border-radius;
    }

    // dropdown
    .pnd-dropdown {
        display: flex;
        flex-direction: row-reverse;
        min-width: 180px;

        .pnd-dropdown__selected {
            width: inherit;
        }
    }
}


/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: variables.$breakpoint-laptop) {
}

@media all and (max-width: variables.$breakpoint-ipad-portrait) {
}

@media all and (max-width: variables.$breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}