@use "../generic/mixins";
@use "../generic/variables";

/**
 * NOTEBOOK PANEL
 *
 * Panel to select the current notebook and change status (public, private, shared)
 */
 
/* ------------------------------------ *\
   #NOTEBOOK-PANEL
\* ------------------------------------ */
.pnd-notebook-panel {
    position: fixed;
    box-sizing: border-box;
    top: 56px;
    right: 0;
    padding: variables.$space*2;
    width: variables.$sidebar-exploded-width;
    z-index: variables.$z-index-sidebar - 1;
    background-color: variables.$color-background-base;
    color: variables.$color-text;
    border-bottom: 1px solid variables.$color-border-normal;
    @include mixins.cardShadow-1;
    
    /* Sections */
    &__section:not(:last-child) {
        margin-bottom: variables.$space*1.5;
        padding-bottom: variables.$space*2;
        border-bottom: 1px solid variables.$color-border-normal;
    }

    /* Current notebook name */
    &__current-notebook-name {
        display: inline-block;
        // padding: $space/2 $space;
        font-weight: variables.$font-weight-bold;
        font-size: variables.$font-size-s;
        border-radius: variables.$border-radius;
        // background-color: $color-background-medium;

        .pnd-svg-icon svg {
            width: 14px;
            height: auto;
        }
    }

    /* User list */
    &__item-share-list {
        height: 100px;
        overflow-y: auto;
    }

    /* Utilities */
    .pnd-text {
        margin-bottom: variables.$space;
    }

    /* Status */
    &__current-notebook-status {
        display: inline-block;
        margin-bottom: variables.$space;
        // padding: $space/2 $space;
        font-weight: variables.$font-weight-bold;
        font-size: variables.$font-size-s;
        border-radius: variables.$border-radius;
        // background-color: $color-background-medium;
    }
    
    /* Change status */
    &__change-status {
        padding-left: 20px;

        .pnd-btn {
            display: block; // ! To be removed when sharing will be implemented
            margin-right: variables.$space*0.5;
            margin-bottom: variables.$space*0.5; // ! To be removed when sharing will be implemented
        }

        .pnd-text-small {
            margin-bottom: 0;
        }
    }

    /* Notebook selection */
    .pnd-notebook-selector {
        width: 100%;
    }

    &__share-button {
        padding: 0 variables.$space 0 variables.$space * .5;
        span.button-label {
            margin-left: variables.$space;
            flex-grow: 1;
        }
        span.button-icon {
            display: block;
            width: variables.$font-size-s;
            
            .pnd-svg-icon-plus svg {
                width: variables.$font-size-s;
                height: variables.$font-size-s;
            }
        }
    }
}
