/**
 * NOTEBOOK SELECTOR
 *
 * Components to select a notebook or create a new one on the fly.
 */

/* ------------------------------------ *\
   #NOTEBOOK-SELECTOR
\* ------------------------------------ */
.pnd-notebook-selector {
    position: relative;
    display: inline-block;
    height: $notebook-selector-height;
    min-width: 80px;
    margin: 0;
    text-align: left;
    overflow: visible;
    color: $color-text;

    /* Selected element */
    &__selected {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 28px;
        padding: 0 8px;
        background-color: $color-background-light;
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;
        cursor: pointer;
        transition: color $transition-durations;

        &:hover {
            .pnd-notebook-selector__selected-icon {
                color: $color-text-link;
            }

            &:after {
                color: $color-text-link;
            }
        }

        &:after {
            content: "\e900";
            color: $color-text;
            font-family: 'pundit-icon-font' !important;
            margin-left: $space;
            font-size: $font-size-s;
        }
    }

    &__selected-label {
        margin-right: auto;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Dropdown */
    &__dropdown {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: $notebook-selector-height + 2;
        background-color: $color-background-base;
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;
        @include cardShadow-1;
    }

    &__dropdown-notebook {
        padding: $space/2 $space;
        color: $color-text;
        font-size: $font-size-s;
        transition: color $transition-durations;
        cursor: pointer;

        &:hover {
            color: $color-text-link;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-border-normal;
        }
    }

    &__dropdown-new {
        padding: $space/2 $space;
        font-weight: $font-weight-bold;
        color: $color-text;
        font-size: $font-size-s;
        cursor: pointer;

        &:hover {
            color: $color-text-link;
        }
    }

    /* Creating a new notebook */
    &__create {
        text-align: right;
    }

    &__create-field {
        display: block;
        width: 100%;
        margin-bottom: $space;
    }

    &__create-btn-cancel {
        
    }

    &__create-btn-save {
        margin-left: $space/2;
    }

    /* Displayed while saving */
    .pnd-select-item-saving {
        font-size: 13px;
        line-height: 30px;
        font-weight: $font-weight-bold;
    }
}


/* ------------------------------------ *\
   #EXPANDED
\* ------------------------------------ */
.pnd-notebook-selector {
    &.is-expanded {
        .pnd-notebook-selector__selected {
            &:after {
                content: "\e90c";
                color: $color-text;
                font-family: 'pundit-icon-font' !important;
                margin-left: $space;
                font-size: $font-size-s;
            }
        }

        .pnd-notebook-selector__dropdown {
            display: block;
        }
    }
}
