@use "../generic/color-scheme";
@use "../generic/variables";

/**
 * TAGIFY
 *
 * Style for the tagify module.
 */

/* ------------------------------------ *\
   #TAGIFY
\* ------------------------------------ */
.tagify {
    padding: variables.$space*0.25 variables.$space*0.25;
    border-radius: variables.$form-border-radius;
    width: 100%;

    &:focus, &.tagify--focus {
        border-color: color-scheme.$color-main;
    }

    .tagify__tag {
        margin: variables.$space*0.25;
        > div {
            padding: variables.$space*0.25 variables.$space*0.5;
        }
    }

    .tagify__tag-text {
        font-size: variables.$font-size-s;
    }

    .tagify__tag__removeBtn {
        &:after {
            opacity: .65;
        }
    }

    .tagify__input {
        margin: variables.$space*0.25;
        padding: variables.$space*0.25 variables.$space*0.5;
        font-size: variables.$font-size-s;

        &::before {
            line-height: 1.35;
        }
    }
}

.tagify__dropdown {
    top: auto !important;
    left: variables.$space*2 !important;
}

.tagify__dropdown__wrapper {
    border-top-width: 1px;
    border-color: variables.$color-border-normal;
    border-radius: variables.$form-border-radius;
}

.tagify__dropdown__item {
    padding: variables.$space;
}

/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: variables.$breakpoint-laptop) {
}

@media all and (max-width: variables.$breakpoint-ipad-portrait) {
}

@media all and (max-width: variables.$breakpoint-smartphone-landscape) {
}

/* Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}