@use "../generic/color-scheme";
@use "../generic/mixins";
@use "../generic/variables";

/**
 * TOAST
 *
 * Component used to display alerts on the bottom left of the application.
 */

/* ------------------------------------ *\
   #TOAST
\* ------------------------------------ */
.pnd-toast {
    position: fixed;
    bottom: variables.$space * 3;
    left: variables.$space * 3;

    &__box {
        position: relative;
        width: variables.$toast-max-width;
        margin-top: variables.$space * 2;
        padding: variables.$space * 2.5 variables.$space * 2.5 variables.$space * 2.5 variables.$space * 2.5;
        background-color: variables.$toast-background-color;
        border-top: 4px solid rgba(0, 0, 0, 0.12);
        @include mixins.toastShadow;
    }

    &__title {
        display: block;
        margin-bottom: variables.$space*0.5;
        font-size: variables.$font-size-l;
        font-weight: variables.$font-weight-bold;
        color: variables.$toast-title-color;
    }

    &__text {
        display: block;
        margin-bottom: 0;
        font-size: variables.$font-size-m;
        color: variables.$toast-text-color;
        line-height: 1.4;
    }
}

/* ------------------------------------ *\
   #WITH-ACTIONS
\* ------------------------------------ */
.pnd-toast__box.has-actions {
    display: flex;

    .pnd-toast__content {
        margin-right: variables.$space * 2;
    }

    .pnd-toast__actions {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
    }

    .pnd-toast__action-button:not(:last-child) {
        margin-right: variables.$space*0.5;
    }

    .pnd-toast__close-icon {
        position: absolute;
        top: variables.$space;
        right: variables.$space;
        cursor: pointer;
        color: rgba(variables.$color-text-inverse, 0.75);
        transition: color variables.$transition-durations;

        &:hover {
            color: variables.$color-text-inverse;
        }
    }

    .pnd-toast__action-content {
        margin-left: variables.$space;
    }

    .pnd-toast__action-content:nth-child(1) {
        margin-left: 0;
    }
}

/* ------------------------------------ *\
   #PROGRESS BAR
\* ------------------------------------ */
.pnd-toast__progress {
    position: absolute;
    top: -4px;
    left: 0px;
    height: 4px;
    background-color: color-scheme.$color-info;
    width: 0%;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
}

/* ------------------------------------ *\
   #COLORS
\* ------------------------------------ */
.pnd-toast .is-success {
    .pnd-toast__progress {
        background-color: color-scheme.$color-success;
    }
}

.pnd-toast .is-info {
    .pnd-toast__progress {
        background-color: color-scheme.$color-info;
    }
}

.pnd-toast .is-warning {
    .pnd-toast__progress {
        background-color: color-scheme.$color-warning;
    }
}

.pnd-toast .is-error {
    .pnd-toast__progress {
        background-color: color-scheme.$color-error;
    }
}

.pnd-toast .is-working {
    .pnd-toast__progress {
        background-color: color-scheme.$color-gray-04;
    }
}
