/**
 * TOAST
 *
 * Component used to display alerts on the bottom left of the application.
 */
 
/* ------------------------------------ *\
   #TOAST
\* ------------------------------------ */
.pnd-toast {
    position: fixed;
    bottom: $space*3;
    left: $space*3;

    &__box {
        position: relative;
        width: $toast-max-width;
        margin-top: $space*2;
        padding: $space*2.5 $space*2.5 $space*2.5 $space*2.5;
        background-color: $toast-background-color;
        border-top: 4px solid rgba(0,0,0,.12);
    }

    &__title {
        display: block;
        margin-bottom: $space/2;
        font-size: $font-size-l;
        font-weight: $font-weight-bold;
        color: $toast-title-color;
    }

    &__text {
        display: block;
        margin-bottom: 0;
        font-size: $font-size-m;
        color: $toast-text-color;
        line-height: 1.4;
    }
}


/* ------------------------------------ *\
   #WITH-ACTIONS
\* ------------------------------------ */
.pnd-toast__box.has-actions {
    display: flex;

    .pnd-toast__content {
        margin-right: $space*2;
    }

    .pnd-toast__actions {
        display: flex;
        align-items: center;
        flex: 1 0 auto;
    }

    .pnd-toast__action-button:not(:last-child) {
        margin-right: $space/2;
    }
    
    .pnd-toast__close-icon {
        position: absolute;
        top: $space;
        right: $space;
        cursor: pointer;
        color: rgba( $color-text-inverse, .75);
        transition: color $transition-durations;
    
        &:hover {
            color: $color-text-inverse;
        }
    }
}


/* ------------------------------------ *\
   #PROGRESS BAR
\* ------------------------------------ */
.pnd-toast__progress {
    position: absolute;
    top: -4px;
    left: 0px;
    height: 4px;
    background-color: $color-info;
    width: 0%;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
}


/* ------------------------------------ *\
   #COLORS
\* ------------------------------------ */
.pnd-toast .is-success {
    .pnd-toast__progress {
        background-color: $color-success;
    }
}

.pnd-toast .is-info {
    .pnd-toast__progress {
        background-color: $color-info;
    }
}

.pnd-toast .is-warning {
    .pnd-toast__progress {
        background-color: $color-warning;
    }
}

.pnd-toast .is-error {
    .pnd-toast__progress {
        background-color: $color-error;
    }
}

.pnd-toast .is-working {
    .pnd-toast__progress {
        background-color: $color-gray-04;
    }
}