@use "../generic/mixins";
@use "../generic/variables";

/**
 * TOOLTIP
 *
 * Style for the tooltip.
 */

/* ------------------------------------ *\
   #TOOLTIP
\* ------------------------------------ */
.pnd-tooltip {
    display: none;
    background: variables.$tooltip-background-color;
    border: 1px solid variables.$tooltip-border-color;
    border-radius: variables.$border-radius;
    @include mixins.cardShadow-1;
    z-index: variables.$z-index-annotation-tooltip;
    word-break: normal;
    
    /* Arrow css */
    &[data-popper-placement^="top"] {
        #arrow::before {
            background-color: variables.$tooltip-background-color;
            border-bottom: 1px solid variables.$tooltip-border-color;
            border-right: 1px solid variables.$tooltip-border-color;
        }
    }
    &[data-popper-placement^="bottom"] {
        #arrow::before {
            background-color: variables.$tooltip-background-color;
            border-top: 1px solid variables.$tooltip-border-color;
            border-left: 1px solid variables.$tooltip-border-color;
        }
    }

    #arrow,
    #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: variables.$z-index-annotation-tooltip - 1;
    }

    #arrow::before {
        content: "";
        transform: rotate(45deg);
        background: variables.$tooltip-background-color;
    }

    &[data-popper-placement^="top"] > #arrow {
        bottom: -4px;
    }

    &[data-popper-placement^="bottom"] > #arrow {
        top: -4px;
    }

    &[data-popper-placement^="left"] > #arrow {
        right: -4px;
    }

    &[data-popper-placement^="right"] > #arrow {
        left: -4px;
    }

    &[data-show] {
        display: block;
    }
}


/* ------------------------------------ *\
   #NAV-INSIDE-TOOLTIP
\* ------------------------------------ */
.pnd-nav {
    // Basic list styles from "@n7-frontend/components"
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        padding: 0;
        margin: 0;
    }
    &__link {
        cursor: pointer;
    }
}

.pnd-tooltip {
    .pnd-nav__item {
        &:not(:last-child) {
            border-bottom: 1px solid variables.$color-border-normal;
        }
    }
    
    .pnd-nav__label {
        display: block;
        padding: variables.$space variables.$space*1.5;
        color: variables.$color-text;
        font-family: variables.$font-family-main;
        font-size: variables.$font-size-s;
        font-weight: variables.$font-weight-bold;
        line-height: 1;
        white-space: nowrap;
        transition: color variables.$transition-durations;

        &:hover {
            color: variables.$color-text-link;
        }
    }
}
