div.pnd-tooltip {
    font-family: $font-family-main;
    font-weight: $font-weight-normal;
    font-size: $font-size-s;
    background: $color-gray-00;
    border: 1px solid $color-gray-03;
    border-radius: $border-radius;
    padding: $space;

    .n7-nav__link {
        color: $color-text;
    }

    .n7-nav__label {
        width: 100%;

        &:hover {
            background-color: $color-gray-04;
            color: $color-text-inverse;
        }
    }

    &[data-popper-placement^="top"] {
        #arrow::before {
            background-color: $color-gray-00;
            border-bottom: 1px solid $color-gray-03;
            border-right: 1px solid $color-gray-03;
        }
    }
    &[data-popper-placement^="bottom"] {
        #arrow::before {
            background-color: $color-gray-00;
            border-top: 1px solid $color-gray-03;
            border-left: 1px solid $color-gray-03;
        }
    }

    // ARROW SCSS

    #arrow,
    #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: -1;
    }

    #arrow::before {
        content: "";
        transform: rotate(45deg);
        background: $color-gray-02;
    }

    &[data-popper-placement^="top"] > #arrow {
        bottom: -4px;
    }

    &[data-popper-placement^="bottom"] > #arrow {
        top: -4px;
    }

    &[data-popper-placement^="left"] > #arrow {
        right: -4px;
    }

    &[data-popper-placement^="right"] > #arrow {
        left: -4px;
    }

    &[data-show] {
        display: block;
    }
}
