/**
 * TOOLTIP
 *
 * Style for the tooltip.
 */

/* ------------------------------------ *\
   #TOOLTIP
\* ------------------------------------ */
.pnd-tooltip {
    display: none;
    background: $tooltip-background-color;
    border: 1px solid $tooltip-border-color;
    border-radius: $border-radius;
    @include cardShadow-1;
    z-index: $z-index-annotation-tooltip;
    
    /* Arrow css */
    &[data-popper-placement^="top"] {
        #arrow::before {
            background-color: $tooltip-background-color;
            border-bottom: 1px solid $tooltip-border-color;
            border-right: 1px solid $tooltip-border-color;
        }
    }
    &[data-popper-placement^="bottom"] {
        #arrow::before {
            background-color: $tooltip-background-color;
            border-top: 1px solid $tooltip-border-color;
            border-left: 1px solid $tooltip-border-color;
        }
    }

    #arrow,
    #arrow::before {
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: $z-index-annotation-tooltip - 1;
    }

    #arrow::before {
        content: "";
        transform: rotate(45deg);
        background: $tooltip-background-color;
    }

    &[data-popper-placement^="top"] > #arrow {
        bottom: -4px;
    }

    &[data-popper-placement^="bottom"] > #arrow {
        top: -4px;
    }

    &[data-popper-placement^="left"] > #arrow {
        right: -4px;
    }

    &[data-popper-placement^="right"] > #arrow {
        left: -4px;
    }

    &[data-show] {
        display: block;
    }
}


/* ------------------------------------ *\
   #NAV-INSIDE-TOOLTIP
\* ------------------------------------ */
.pnd-nav {
    // Basic list styles from "@n7-frontend/components"
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item {
        padding: 0;
        margin: 0;
    }
    &__link {
        cursor: pointer;
    }
}

.pnd-tooltip {
    .pnd-nav__item {
        &:not(:last-child) {
            border-bottom: 1px solid $color-border-normal;
        }
    }
    
    .pnd-nav__label {
        display: block;
        padding: $space $space*1.5;
        color: $color-text;
        font-family: $font-family-main;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        transition: color $transition-durations;

        &:hover {
            color: $color-text-link;
        }
    }
}
