@use "../generic/variables";

/**
 * GLOBAL
 *
 * Global styles, tags and common classes.
 */

/* ------------------------------------ *\
   #GLOBAL
\* ------------------------------------ */
/* Class of all Pundit app wrapper */
.pnd-main {
    position: absolute;
    top: 0;
    right: 0;
    z-index: variables.$z-index-pundit;
    box-sizing: border-box;
    color: variables.$color-text;
    font-size: variables.$font-size-m;
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-normal;
    line-height: 1.3;
}

[class^="pnd-svg-icon-"], [class*=" pnd-svg-icon-"] {
    svg {
        display: inline-block;
        vertical-align: -.125em;
        fill: currentColor;
    }
}

:focus {
    outline: 0;
}