/**
 * GLOBAL
 *
 * Global styles, tags and common classes.
 */

/* ------------------------------------ *\
   #GLOBAL
\* ------------------------------------ */
/* Class of all Pundit app wrapper */
.pnd-main {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-pundit;
    box-sizing: border-box;
    color: $color-text;
    font-size: $font-size-m;
    font-family: $font-family-main;
    font-weight: $font-weight-normal;
    line-height: 1.3;
}

:focus {
    outline: 0;
}