/**
 * DROPDOWN
 *
 * Style for all types of dropdowns
 */

/* ------------------------------------ *\
   #STANDARD-DROPDOWN
\* ------------------------------------ */
.pnd-dropdown {
    position: relative;
    display: inline-block;
    height: $notebook-selector-height;
    min-width: 80px;
    margin: 0;
    text-align: left;
    overflow: visible;
    color: $color-text;
    
    /* Selected element */
    &__selected {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        height: 28px;
        padding: 0 8px;
        background-color: $color-background-light;
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;
        cursor: pointer;
        transition: color $transition-durations;

        &:hover {
            .pnd-dropdown__selected-icon {
                color: $color-text-link;
            }

            .pnd-dropdown__selected-right-icon {
                color: $color-text-link;
            }
        }

        .pnd-svg-icon svg {
            width: 14px;
            height: auto;
        }
    }

    &__selected-right-icon {
        width: 14px;
        height: auto;
    }

    &__selected-label {
        margin-right: auto;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Dropdown */
    &__list-wrapper {
        display: none;
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        top: $notebook-selector-height + 2;
        background-color: $color-background-base;
        border: 1px solid $color-border-normal;
        border-radius: $border-radius;
        @include cardShadow-1;
    }

    &__item {
        padding: $space/2 $space;
        color: $color-text;
        font-size: $font-size-s;
        transition: color $transition-durations;
        cursor: pointer;

        &:hover {
            color: $color-text-link;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-border-normal;
        }

        .pnd-svg-icon svg {
            width: 14px;
            height: auto;
        }
    }

    &__list-items {
        max-height: $notebook-selector-list-max-height;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* ------------------------------------ *\
   #EXPANDED
\* ------------------------------------ */
.pnd-dropdown {
    &.is-expanded {
        .pnd-dropdown__list-wrapper {
            display: block;
        }

        // the element of the list that represents the active notebook
        .pnd-dropdown__item.is-current {
            font-weight: $font-weight-bold;
        }
    }
}
