//
// COLOR SCHEME
//
// Here we define all colors used in components and project
//

// ------------------------------------ //
// #COLOR-SCHEME
// ------------------------------------ //
// Grayscale (background, borders, text)
$color-gray-00: #ffffff;
$color-gray-01: #f7f7f7;
$color-gray-02: #f0f0f0; // $color-gray-02: #f7f7f7;
$color-gray-03: #dddddd;
$color-gray-04: #ababab;
$color-gray-05: #242424;

// Brand colors
$color-main: #2e5bff;
$color-second: #8c54ff;
$color-third: #f5a623;
$color-text-hover: rgb(26, 64, 204); /* Used for text link in hover state */

// Status colors
$color-error: #ff643f;
$color-warning: #febe53;
$color-success: #39b54a;
$color-info: $color-main;

// Annotations colors
$color-highlight: rgba($color: #fcfc05, $alpha: 0.2);
$color-highlight-hover: rgba(#2ee6e6, .4);

// Semantic colors
$color-subject: #54b4e6;
$color-predicate: #febe53;
$color-object: #0084c8;
$color-subject-text: lighten($color-subject, 27);
$color-predicate-text: lighten($color-predicate, 25);
$color-object-text: desaturate(lighten($color-object, 27), 30);
$color-type-class: #949400;
$bgcolor-type-class: #ffffb8;
$color-type-entity: #1f67ff;
$bgcolor-type-entity: #ccddff;
$color-type-predicate: #a224d6;
$bgcolor-type-predicate: #efd6fa;

