<div class="pnd-annotation__header-menu">
  @if (serializedBy !== 'hypothesis') {
    <div>
      @if ((menu$ | async)?.menuData; as menuData) {
        <button class="pnd-annotation__header-menu-button {{ menuData.classes || '' }}" [ngClass]="menuData.icon['id']"
          (click)="onClick($event, menuData.icon['payload'])">
          <pnd-svg-icon [data]="{ id: 'ellipsis-v' }"></pnd-svg-icon>
        </button>
      }
      @if ((menu$ | async)?.shareData; as shareData) {
        <button class="pnd-annotation__header-menu-button {{ shareData.classes || '' }}" [ngClass]="shareData.icon['id']"
          (click)="onClick($event, shareData.icon['payload'])">
          <pnd-svg-icon [data]="{ id: 'share' }"></pnd-svg-icon>
        </button>
      }
    </div>
  }

  <button class="pnd-annotation__header-menu-button"
    (click)="onClick($event, {id: annotationId, source: 'compress'})">
    <pnd-svg-icon [data]="{ id: 'compress' }"></pnd-svg-icon>
  </button>

  @if ((state$ | async)?.activeMenu; as activeMenu) {
    <div class="pnd-annotation__menu-dropdown"
      [ngClass]="{'has-notebooks': activeMenu === 'notebooks', 'share': activeMenu === 'share' }">
      <!-- menu actions -->
      @if (activeMenu === 'actions') {
        <div class="pnd-annotation__menu-dropdown-actions">
          @for (action of (menu$ | async)?.menuData?.actions; track action) {
            <div (click)="onClick($event, action.payload)"
              class="pnd-annotation__menu-dropdown-action">
              {{ action.label }}
            </div>
          }
        </div>
      }
      @if (activeMenu === 'share-actions') {
        <div class="pnd-annotation__menu-dropdown-actions__share">
          @for (action of (menu$ | async)?.shareData?.actions; track action) {
            <div (click)="onClick($event, action.payload)"
              class="pnd-annotation__menu-dropdown-action">
              {{ action.label }}
            </div>
          }
        </div>
      }
      @if (activeMenu === 'notebooks') {
        <div class="pnd-annotation__menu-notebooks">
          @if ((menu$ | async)?.menuData?.notebooks; as notebooks) {
            <div class="pnd-annotation__menu-notebooks-header"
              (click)="onClick($event, notebooks.header.payload)">
              {{ notebooks.header.label }}
            </div>
          }
          @if (notebookSelectorData) {
            <div class="pnd-annotation__select-cont"
              >
              <notebook-selector [data]="notebookSelectorData" [emit]="onNotebookSelection">
              </notebook-selector>
            </div>
          }
        </div>
      }
      <!-- share actions -->
      @if (activeMenu === 'share') {
        <div class="pnd-annotation__menu-dropdown-actions__share">
          @for (action of (menu$ | async)?.shareData?.actions; track action) {
            @if (action.type === 'link') {
              <div class="pnd-annotation__menu-dropdown-action">
                <a [href]="action?.payload?.url" target="_blank">{{ action.label }}</a>
              </div>
            } @else {
              @if (action.type === 'action') {
                <div (click)="onClick($event, action.payload)"
                  class="pnd-annotation__menu-dropdown-action">
                  {{ action.label }}
                </div>
              }
            }
          }
        </div>
      }
    </div>
  }
</div>