<div *ngIf="data" class="pnd-text-editor__menu {{ data.classes || '' }}">
    <div *ngFor="let group of data.groups" class="pnd-text-editor__group">
        <a *ngFor="let button of group.buttons" 
            (click)="onClick(button)"
            class="pnd-text-editor__button {{ button.classes || '' }}"
            [title]="button.title"
            [ngClass]="{
                'is-active': button.active,
                'is-disabled': button.disabled
            }">
            <pnd-svg-icon [data]="{ id: 'text-editor-' + button.id }"></pnd-svg-icon>
        </a>
    </div>
</div>