@if (data) {
  <div class="pnd-text-editor__menu {{ data.classes || '' }}">
    @for (group of data.groups; track group) {
      <div class="pnd-text-editor__group">
        @for (button of group.buttons; track button) {
          <a
            (click)="onClick(button)"
            class="pnd-text-editor__button {{ button.classes || '' }}"
            [title]="button.title"
            [ngClass]="{
                'is-active': button.active,
                'is-disabled': button.disabled
            }">
            <pnd-svg-icon [data]="{ id: 'text-editor-' + button.id }"></pnd-svg-icon>
          </a>
        }
      </div>
    }
  </div>
}

@if (data && data.linkForm?.visible) {
  <div class="pnd-text-editor__link">
    @if (data.linkForm?.label) {
      <span
        class="pnd-text-editor__link-label">
        {{ data.linkForm.label }}
      </span>
    }
    <input type="text" name="insert-link"
      class="pnd-text-editor__link-field small"
      [placeholder]="data.linkForm?.placeholder"
      (input)="onLinkInput($event.target.value)"
      (keyup)="onLinkKeyup($event)">
    @if (data.linkForm?.actions.cancel; as cancelAction) {
      <button
        class="pnd-btn pnd-text-editor__link-btn-cancel"
        (click)="onLinkCancel()">
        {{ cancelAction.label }}
      </button>
    }
    @if (data.linkForm?.actions.save; as saveAction) {
      <button
        class="pnd-btn pnd-text-editor__link-btn-save"
        [disabled]="saveAction.disabled"
        (click)="onLinkSave()">
        {{ saveAction.label }}
      </button>
    }
  </div>
}