<div class="pnd-annotation__social-bar">
    <ng-container *ngIf="state?.reply">
        <a class="pnd-annotation__social-bar-action"
        [title]="labels.reply"
        [ngClass]="{'is-active': state?.reply?.madeByUser }"
        (click)="toggleReplyForm()">
            <pnd-svg-icon [data]="{ id: 'reply' }" ></pnd-svg-icon>
            <span>{{state?.reply?.total || 0}}</span>
        </a>
    </ng-container>

    <ng-container *ngIf="state?.like" >
        <a class="pnd-annotation__social-bar-action"
        [title]="state?.like?.madeByUser ? labels.removeAction(labels.like) : labels.like" 
        [ngClass]="{'is-active': state?.like?.madeByUser }"
        (click)="doAction('Like')">
            <pnd-svg-icon [data]="{ id: 'like' }"></pnd-svg-icon>
            <span>{{state?.like?.total || 0}}</span>
        </a>
    </ng-container>

    <ng-container *ngIf="state?.dislike as dislike">
        <a class="pnd-annotation__social-bar-action" 
        [title]="state?.dislike?.madeByUser ? labels.removeAction(labels.dislike) : labels.dislike"
        [ngClass]="{'is-active': state?.dislike?.madeByUser }"
        (click)="doAction('Dislike')">
            <pnd-svg-icon [data]="{ id: 'dislike' }"></pnd-svg-icon>
            <span>{{state?.dislike?.total || 0}}</span>
        </a>
    </ng-container>

    <ng-container *ngIf="state?.report">
        <a class="pnd-annotation__social-bar-action" 
        [title]="state?.report?.madeByUser ? labels.removeAction(labels.report) : labels.report"
        [ngClass]="{'is-active': state?.report?.madeByUser }"
        (click)="doAction('Report')">
            <pnd-svg-icon [data]="{ id: 'report' }"></pnd-svg-icon>
            <span>{{state?.report.total || 0}}</span>
        </a>
    </ng-container>

    <ng-container *ngIf="state?.endorse">
        <a class="pnd-annotation__social-bar-action" 
        [title]="state?.endorse?.madeByUser ? labels.removeAction(labels.endorse) : labels.endorse"
        [ngClass]="{'is-active': state?.endorse?.madeByUser }"
        (click)="doAction('Endorse')">
            <pnd-svg-icon [data]="{ id: 'endorse' }"></pnd-svg-icon>
            <span>{{state?.endorse?.total || 0}}</span>
        </a>
    </ng-container>
</div>
<ng-container *ngIf="state?.reply?.toggleForm">
    <div class="pnd-annotation__reply-textarea-wrapper">
        <textarea maxlength="1000" 
        name="pnd-new-reply" 
        id="{{annotationId}}"
        class="pnd-annotation__reply-textarea"
        [disabled]="!!state?.reply?.form?.isLoading"
            (input)="onReplyChange($event.target.value)"></textarea>
    </div>
    <div class="pnd-annotation__reply__new-reply-footer">
        <div class="pnd-annotation__reply__new-reply-actions">
            <ng-container *ngFor="let action of state.reply.form.actions">
                <button class="pnd-btn pnd-btn-s" 
                (click)="onReplyFormAction(action.source)" 
                [ngClass]="{
                    'is-loading': !!state?.reply?.form?.isLoading && action.source ==='save'
                }"
                [disabled]="action?.disabled || !!state?.reply?.form?.isLoading">
                    {{ action.label }}
                    <ng-container *ngIf="!!state?.reply?.form?.isLoading && action.source ==='save'">
                        <span class="pnd-loader"><span class="pnd-loader__content"></span></span>
                    </ng-container>
                </button>
            </ng-container>
        </div>
    </div>
</ng-container>
