@use "../generic/variables";

/**
 * UTILITIES
 *
 * Utilities classes.
 */
 
/* ------------------------------------ *\
   #UTILITIES
\* ------------------------------------ */
.pnd-text {
    color: variables.$color-text;
    font-size: variables.$font-size-s;
    font-weight: variables.$font-weight-normal;
}

.pnd-text-small {
    color: variables.$color-text-light;
    font-size: variables.$font-size-xs;
    font-weight: variables.$font-weight-normal;
}

.pnd-label {
    color: variables.$color-text-light;
    font-size: variables.$font-size-s;
    font-weight: variables.$font-weight-normal;
}

.pnd-value {
    color: variables.$color-text-light;
    font-size: variables.$font-size-s;
    font-weight: variables.$font-weight-normal;
}