/**
 * HOST
 *
 * Host (window.document) styles
 */

// ------------------------------------ //
// #HIGHLIGHT
// ------------------------------------ //
pnd-mark.pnd-mark {
    background-color: rgba($color: #fcfc05, $alpha: 0.33);
    transition: none;
}

pnd-mark.pnd-mark:hover {
    cursor: pointer;
}

pnd-mark.pnd-mark.is-hovered {
    background-color: rgba(46, 230, 230, 0.4);
}

// ------------------------------------ //
// #HOST BODY
// ------------------------------------ //
body.pnd-annotation-sidebar-expanded {
    position: static;
    margin-right: 326px;
    width: auto;
}
