/**
 * HOST
 *
 * Host (window.document) styles
 */


// ------------------------------------ //
// #PUNDIT-ICON-FONT
// ------------------------------------ //
@import "https://static.thepund.it/n7-icon/style.css";


// ------------------------------------ //
// #HIGHLIGHT
// ------------------------------------ //
pnd-mark.pnd-mark {
    background-color: rgba($color: #fcfc05, $alpha: 0.2);
    transition: none;
}

pnd-mark.pnd-mark:hover {
    cursor: pointer;
}

pnd-mark.pnd-mark.is-hovered {
    background-color: rgba(46, 230, 230, 0.4);
}
