.pundit-sidebar {
    font-family: $font-family-main;

    &__cont {
        border-left: #dbdfe3 1px solid;
        background: #f7f7f7;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 10000;
        height: 100vh;
        width: 370px;
        // animation: collapsing .5s reverse both;
    }

    &__annotation-column {
        overflow: hidden;
    }

    &__user-row {
        background-color: #ffffff;
        color: $color-text;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: $space * 5;
        margin-top: $space * 2;
        border-top: 1px solid $color-gray-03;
        border-bottom: 1px solid $color-gray-03;
        box-shadow: 0px 3px 11px 0px $color-gray-03;

        a {
            text-decoration: none;
            // color: #3484e6;
            color: $color-text;

            &:link,
            :visited {
                color: $color-text;
            }
        }
    }

    &__user-name {
        width: 100%;
        margin-left: $space;
        font-size: $font-size-xs;
    }

    &__actions {
        & > a {
            border-left: 1px solid $color-gray-02;
            cursor: pointer;
            font-size: $font-size-m;
            padding: 10px;

            &.active {
                color: #3e8ce9;
                box-shadow: inset 0px -4px #3e8ce9;
                border-bottom: 1px solid #3e8ce9;

                .pundit-sidebar__header-icon {
                    color: #3e8ce9;
                }
            }
        }
    }

    &__header-icon {
        color: $color-text-light;
    }

    &.is-expanded {
        .pundit-sidebar__cont {
            animation: expanding 0.5s both;
        }
    }

    &.is-collapsed {
        .pundit-sidebar__cont {
            animation: collapsing 0.5s both;
        }

        .pundit-sidebar__logo {
            position: fixed;
            top: 20px;
            right: 20px;
        }
    }

    &__logo {
        background: $gradient;
        padding: 10px;
        border-radius: 50%;
        margin-left: -20px;
        cursor: pointer;

        img {
            height: 20px;
            width: auto;
        }
    }

    &__close-button {
        cursor: pointer;
    }
}

.notebook-panel {
    &__select-cont {
        select {
            appearance: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
        }
        border: 1px solid $color-gray-03;
        background-color: $color-gray-02;
        border-radius: 3px;
        display: flex;
        position: relative;

        &::after {
            content: "\e908";
            font-family: "n7-icon";
            position: absolute;
            padding: 0px 4px;
            right: 0px;
            top: 0px;
            display: flex;
            height: 100%;
            background: $color-gray-02;
            align-items: center;
            border-left: 1px solid $color-gray-03;
        }
    }
}

.n7-icon-arrow-right {
    background: #ff7f50;
    border-radius: 50%;
    min-height: 10px;
    min-width: 10px;
    cursor: pointer;
}

.n7-annotation__container {
    margin: $space $space;
    padding: $space;
    background: #ffffff;
    border-radius: $space/2;
    border: 1px solid #dbdfe3;
    border-bottom-width: 4px;
}

n7-annotation {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    visibility: hidden;
}

// annotation menu
.n7-annotation__container {
    .n7-annotation__menu-dropdown,
    .n7-annotation__menu-notebooks,
    .n7-annotation__menu-notebooks-items {
        display: none;
    }
    &.is-open {
        .n7-annotation__menu-dropdown {
            display: block;
        }
    }
    &.is-notebooks-open {
        .n7-annotation__menu-actions {
            display: none;
        }
        .n7-annotation__menu-notebooks {
            display: block;
        }
    }
    &.is-notebooks-select-open {
        .n7-annotation__menu-notebooks-items {
            display: block;
        }
    }
}

/* ------------------------------------ *\
    ANIMATIONS
\* ------------------------------------ */

@keyframes collapsing {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    99% {
        transform: translateX(372px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 0;
    }
}

@keyframes expanding {
    from {
        transform: translate(372px);
    }
    to {
        transform: translate(0px);
    }
}
