<div class="pnd-notebook-share-modal__list-item">

  <!-- IMG -->
  <div class="pnd-notebook-share-modal__list-item-thumb">
    <img [src]="(imageDataService.images[item.thumb]?.data | async) || item.thumb" onerror="this.style.display='none'">
    <!-- <ng-template #noImg>
    <img src="assets/unregistred-user.png">
  </ng-template> -->
</div>

<!-- USERNAME -->
<div class="pnd-notebook-share-modal__list-item-label">{{ item.username }}</div>

<!-- OWNER -->
@if (item.role === 'owner') {
  <div class="pnd-notebook-share-modal__list-item-role">
    {{ item.roleAsLabel }}
  </div>
}

<!-- DROPDOWN -->
@if (item.role !== 'owner') {
  <div
    class="pnd-notebook-share-modal__list-item-dropdown">
    @if (item.dropdown; as dropdown) {
      <div
        class="pnd-dropdown {{ dropdown.isExpanded ? 'is-expanded' : '' }}">
        <!-- Selected element -->
        <button class="pnd-dropdown__selected" (click)="dropdownToggle(item)">
          @if (item.status !== 'selected') {
            <div class="pnd-dropdown__selected-label" title="{{item.statusAsLabel}}">
              {{ item.statusAsLabel }}
            </div>
          } @else {
            <div class="pnd-dropdown__selected-label" title="{{item.actionAsLabel}}">
              {{ item.actionAsLabel }}
            </div>
          }
          <ng-template #selected>
            <div class="pnd-dropdown__selected-label" title="{{item.actionAsLabel}}">
              {{ item.actionAsLabel }}
            </div>
          </ng-template>
          <div class="pnd-dropdown__selected-right-icon">
            @if (!dropdown.isExpanded) {
              <pnd-svg-icon [data]="{ id: 'angle-down' }"></pnd-svg-icon>
            }
            @if (dropdown.isExpanded) {
              <pnd-svg-icon [data]="{ id: 'angle-up' }"></pnd-svg-icon>
            }
          </div>
        </button>
        <!-- Dropdown items -->
        <div class="pnd-dropdown__list-wrapper">
          <!-- List of actions -->
          <div class="pnd-dropdown__list-items">
            @for (action of dropdown.actions; track action) {
              <div (click)="onActionClick(action.payload, item)" class="pnd-dropdown__item">
                {{ action.label }}
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
}
</div>
