<ng-container *ngIf="activeMenu !== 'edit-reply'">
    <div class="pnd-annotation__header" *ngIf="activeMenu !== 'edit-reply'">
        <div class="pnd-annotation__header-thumb-wrapper">
            <span class="pnd-annotation__header-initials">{{ userData.initials }}</span>
            <img [src]="(imageDataService.images[userData.image]?.data | async) || userData.image"
                onerror="this.style.display='none'" alt="{{userData.name}}" class="pnd-annotation__header-thumb-image">
        </div>
        <div class="pnd-annotation__header-info">
            <a *ngIf="userData?.anchor as anchor" [href]="anchor" target="_blank">
                <span class="pnd-annotation__header-name">{{userData.name}}</span>
            </a>
            <span *ngIf="!userData.anchor" class="pnd-annotation__header-name">{{userData.name}}</span>
            <span class="pnd-annotation__header-reply">{{ data.comment }}</span>
        </div>
        <div class="pnd-annotation__header-menu" >
            <button class="pnd-annotation__header-menu-button {{ menuData.classes || '' }}" [ngClass]="menuData.icon['id']"
                *ngIf="menuData" (click)="onClick($event, menuData.icon['payload'])">
                <pnd-svg-icon [data]="{ id: 'ellipsis-v' }"></pnd-svg-icon>
            </button>
            <div  *ngIf="activeMenu === 'display-menu'" class="pnd-annotation__menu-dropdown">
                <div  class="pnd-annotation__menu-dropdown-actions">
                    <div *ngFor="let action of menuData?.actions" (click)="onClick($event, action.payload)"
                        class="pnd-annotation__menu-dropdown-action">
                        {{ action.label }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div *ngIf="activeMenu === 'edit-reply'">
    <div class="pnd-annotation__reply-textarea-wrapper">
        <textarea maxlength="1000" rows="6" name="pnd-new-social-reply" 
        id="{{data.id}}" 
        [placeholder]="formState.placeholder"
        [disabled]="!!formState?.isLoading"
        class="pnd-annotation__reply-textarea"
        (input)="onReplyChange($event.target.value)">{{data.comment}}</textarea>
    </div>
    <div class="pnd-annotation__reply__edit-reply-footer">
        <div class="pnd-annotation__reply__edit-reply-actions">
            <ng-container *ngFor="let action of formState?.actions">
                <button class="pnd-btn {{ action.classes || '' }}" 
                (click)="onEditFormAction(action.source)" 
                [ngClass]="{
                    'is-loading': !!formState?.isLoading && action.source ==='save'
                }"
                [disabled]="action?.disabled || formState?.isLoading">
                    <ng-container *ngIf="action.source !=='save' || !formState?.isLoading">
                        {{ action.label }}
                    </ng-container>
                    <ng-container *ngIf="!!formState?.isLoading && action.source ==='save'">
                        <span class="pnd-loader"><span class="pnd-loader__content"></span></span>
                    </ng-container>
                </button>
            </ng-container>
        </div>
    </div>
</div>
<div>
    <div class="pnd-annotation__header_action-bar">
        <pnd-social-action-bar 
        [socials$]="socials$" 
        [annotationId]="annotationId"
        [emit]="emit"
        [actions]="ACTIONS"
        [parentId]="data.id"
        >
        </pnd-social-action-bar>
    </div>
</div>
