<div class="pnd-main"
     *ngIf="lb.dataSource.hasLoaded$ | async">
    <!-- Sidebar -->
    <sidebar-layout [layoutEvent$]="layoutEvent$"></sidebar-layout>
    <!-- Tooltip template -->
    <pnd-tooltip [data]="lb.widgets['tooltip'].ds.out$ | async"
                 [emit]="lb.widgets['tooltip'].emit">
    </pnd-tooltip>
    <!-- Comment editor template -->
    <pnd-comment-modal [data]="lb.widgets['comment-modal'].ds.out$ | async"
                       [emit]="lb.widgets['comment-modal'].emit">
    </pnd-comment-modal>
    <!-- Delete annotation template -->
    <pnd-delete-modal [data]="lb.widgets['delete-modal'].ds.out$ | async"
                      [emit]="lb.widgets['delete-modal'].emit">
    </pnd-delete-modal>
    <!-- Toast template -->
    <pnd-toast [data]="toastService.data$ | async"
               [emit]="toastService.componentEmit.bind(toastService)">
    </pnd-toast>
    <lib-pundit-login></lib-pundit-login>
</div>
