<div class="pnd-main">
    <!-- Sidebar -->
    <sidebar-layout [appEvent$]="appEvent$"></sidebar-layout>
    <!-- Tooltip template -->
    <pnd-tooltip [data]="lb.widgets['tooltip'].ds.out$ | async"
                 [emit]="lb.widgets['tooltip'].emit">
    </pnd-tooltip>
    <!-- Edit modal template -->
    <pnd-edit-modal [data]="lb.widgets['edit-modal'].ds.out$ | async"
                    [emit]="lb.widgets['edit-modal'].emit">
    </pnd-edit-modal>
    <!-- Delete annotation template -->
    <pnd-delete-modal [data]="lb.widgets['delete-modal'].ds.out$ | async"
                      [emit]="lb.widgets['delete-modal'].emit">
    </pnd-delete-modal>
    <!-- Toast template -->
    <pnd-toast [data]="toastService.data$ | async"
               [emit]="toastService.componentEmit.bind(toastService)">
    </pnd-toast>
    <lib-pundit-login></lib-pundit-login>
</div>
