<div *ngIf="data" [hidden]="!data.visible" class="pnd-comment-modal">
    <div class="pnd-comment-modal__overlay" (click)="onClose($event.target)">
        <div class="pnd-comment-modal__window" [attr.id]="draggableTarget">
            <div class="pnd-comment-modal__move">
                <span [attr.id]="draggableHandle"></span>
            </div>
            <div class="pnd-comment-modal__close">
                <a class="pnd-comment-modal__close-link" (click)="onClose()"><span class="n7-icon-close"></span></a>
            </div>
            <div class="pnd-comment-modal__content">
                <div class="pnd-comment-modal__header-label">
                    {{ data.header.label }}
                </div>
                <div class="pnd-comment-modal__comment">
                    <textarea *ngIf="data.visible" name="pnd-comment" 
                    (change)="onChange($event.target.value)">{{ data.form.comment.value || '' }}</textarea>
                </div>
                <div class="pnd-comment-modal__notebooks">
                    <div class="pnd-comment-modal__notebooks-label">
                        {{ data.form.notebooks.label }}
                    </div>
                    <div class="pnd-comment-modal__notebooks-select {{ data.form.notebooks.select.classes || '' }}">
                        <div class="pnd-comment-modal__notebooks-header"
                        (click)="onClick($event, data.form.notebooks.select.header.payload)">
                            <!-- notebooks header label -->
                            <span class="pnd-comment-modal__notebooks-label">
                                {{ data.form.notebooks.select.header.label }}
                            </span>
                            <!-- notebooks header icon -->
                            <span class="pnd-comment-modal__notebooks-icon"
                            [ngClass]="data.form.notebooks.select.header.icon['id']">
                            </span>
                        </div>
                        <div class="pnd-comment-modal__notebooks-items">
                            <ul>
                                <li *ngFor="let notebook of data.form.notebooks.select.items"
                                (click)="onClick($event, notebook.payload)">
                                    {{ notebook.label }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pnd-comment-modal__actions">
                    <a *ngFor="let action of data.form.actions" class="n7-btn {{ action.classes || '' }}" 
                    (click)="onClick($event, action.payload)">
                        {{ action.label }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
