<div *ngIf="data" [hidden]="!data.visible" class="pnd-comment-modal">
    <div class="pnd-comment-modal__overlay" (click)="onClose($event.target)">
        <div class="pnd-comment-modal__window" [attr.id]="draggableTarget">
            <div class="pnd-comment-modal__move">
                <span class="pnd-comment-modal__handle" [attr.id]="draggableHandle"></span>
            </div>
            <div class="pnd-comment-modal__content">
                <div class="pnd-comment-modal__row n7-grid-2">
                    <div class="pnd-comment-modal__header-label">
                        {{ data.header.label }}
                    </div>
                    <div class="pnd-comment-modal__close">
                        <a class="pnd-comment-modal__close-link n7-icon-close" (click)="onClose()"></a>
                    </div>
                </div>
                <div class="pnd-comment-modal__comment">
                    <textarea *ngIf="data.visible" name="pnd-comment" 
                    (change)="onChange('changetext', $event.target.value)">{{ data.form.comment.value || '' }}</textarea>
                </div>
                <div class="pnd-comment-modal__notebooks n7-grid-2">
                    <div class="pnd-comment-modal__notebooks-label">
                        {{ data.form.notebooks.label }}
                    </div>
                    <div class="pnd-comment-modal__select">
                        <select name="change-notebook"
                                id="change-notebook"
                                (change)="onChange('changenotebook', $event.target.value)">
                            <option value="notebook.id"
                                    *ngFor="let notebook of data.form.notebooks.select.items">
                                {{notebook.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="pnd-comment-modal__actions">
                    <a *ngFor="let action of data.form.actions" class="n7-btn {{ action.classes || '' }}" 
                    (click)="onClick($event, action.payload)">
                        {{ action.label }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #oldSelect>
    <div class="pnd-comment-modal__notebooks-select {{ data.form.notebooks.select.classes || '' }}">
        <div class="pnd-comment-modal__notebooks-header"
             (click)="onClick($event, data.form.notebooks.select.header.payload)">
            <span class="pnd-comment-modal__notebooks-label">
                {{ data.form.notebooks.select.header.label }}
            </span>
            <span class="pnd-comment-modal__notebooks-icon"
                  [ngClass]="data.form.notebooks.select.header.icon['id']">
            </span>
        </div>
        <div class="pnd-comment-modal__notebooks-items">
            <ul>
                <li *ngFor="let notebook of data.form.notebooks.select.items"
                    (click)="onClick($event, notebook.payload)">
                    {{ notebook.label }}
                </li>
            </ul>
        </div>
    </div>
</ng-template> -->
