<div *ngIf="data" [hidden]="!data.visible" class="pnd-modal pnd-comment-modal">
    <div class="pnd-modal__overlay pnd-comment-modal__overlay" (click)="onClose($event.target)">
        <div class="pnd-modal__window pnd-comment-modal__window" [attr.id]="draggableTarget">
            
            <div class="pnd-comment-modal__handle" [attr.id]="draggableHandle">
                <span class="pundit-icon-drag"></span>
            </div>

            <div class="pnd-modal__close">
                <a class="pundit-icon-times" (click)="onClose()"></a>
            </div>
            
            <div class="pnd-comment-modal__highlight-wrapper">
                <div class="pnd-comment-modal__highlight">
                    {{ data.textQuote }}
                </div>
            </div>
            
            <div class="pnd-comment-modal__comment-wrapper">
                <div class="pnd-comment-modal__comment-label">
                    {{ data.header.label }}
                </div>
                <div class="pnd-comment-modal__comment-textarea-wrapper">
                    <textarea *ngIf="data.visible" 
                    maxlength="1000"
                    name="pnd-comment" 
                    class="pnd-comment-modal__comment-textarea"
                    (keydown)="onKeyEvent($event)"
                    (keypress)="onKeyEvent($event)"
                    (keyup)="onKeyEvent($event)"
                    (input)="onChange('textchange', $event.target.value)">{{ data.form.comment.value || '' }}</textarea>
                </div>
            </div>

            <div class="pnd-comment-modal__footer">
                <div class="pnd-comment-modal__footer-notebook">
                    <notebook-selector *ngIf="data.form.notebookSelectorData"
                                    [data]="data.form.notebookSelectorData"
                                    [emit]="onNotebookSelection">
                    </notebook-selector>
                </div>
                
                <div class="pnd-comment-modal__footer-actions">
                    <button *ngIf="data.form.actions[0] as cancelAction"
                    [disabled]="cancelAction.disabled" 
                    class="pnd-btn {{ cancelAction.classes || '' }}" 
                    (click)="onClick($event, cancelAction.payload)">
                        {{ cancelAction.label }}
                    </button>
                    <button *ngIf="data.form.actions[1] as saveAction"
                    #saveButton
                    [disabled]="saveAction.disabled" 
                    class="pnd-btn {{ saveAction.classes || '' }}" 
                    (click)="onClick($event, saveAction.payload)">
                        {{ saveAction.label }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
