// ------------------------------------ //
// #PUNDIT-LOGIN-COLOR-SCHEME
// ------------------------------------ //
@import './generic/color_scheme';


// ------------------------------------ //
// #PUNDIT-LOGIN-GENERIC
// ------------------------------------ //
@import './generic/variables';
@import './generic/mixins';


// ------------------------------------ //
// #PUNDIT-LOGIN-GLOBAL
// ------------------------------------ //
@import './global/forms';
@import './global/typography';


// ------------------------------------ //
// #PUNDIT-LOGIN-ATOMS
// ------------------------------------ //
@import "./atoms/button";


// ------------------------------------ //
// #PUNDIT-LOGIN-COMPONENTS
// ------------------------------------ //
@import './components/modal';


// ------------------------------------ //
// #PUNDIT-LOGIN-UTILITIES
// ------------------------------------ //
@import './utilities/grids';


// ------------------------------------ //
// #SVG ICONS
// ------------------------------------ //
[class^="pnd-svg-icon-"], [class*=" pnd-svg-icon-"] {
    svg {
        display: inline-block;
        vertical-align: -.125em;
        fill: currentColor;
    }
}