<div *ngIf="data" [hidden]="!data.visible" class="pnd-modal pnd-notebook-share-modal">
    <div class="pnd-modal__overlay" (click)="onClose($event.target)">
        <div class="pnd-modal__window">
            <div class="pnd-modal__close">
                <pnd-svg-icon [data]="{ id: 'times' }" (click)="onClose()"></pnd-svg-icon>
            </div>
            
            <div class="pnd-modal__header">
                <div class="pnd-modal__header-text">
                    {{ data.header.label }}
                </div>
            </div>
            
            <div class="pnd-modal__body">
                <ng-container *ngIf="!data.body.confirmSection">
                    <!-- FORM SECTION -->
                    <div *ngIf="data.body.formSection as form" 
                    class="pnd-notebook-share-modal__section pnd-notebook-share-modal__section-confirm">
                        <div class="pnd-modal__body-text">
                            {{ form.text }}
                        </div>
                        <div *ngIf="form.autocomplete as autocomplete" class="pnd-notebook-share-modal__autocomplete">
                            <div class="pnd-notebook-share-modal__input">
                                <input type="text"
                                    name="notebook-autocomplete"
                                    class="small"
                                    [placeholder]="autocomplete.input.placeholder"
                                    (input)="onInput($event.target.value)">
                            </div>
                            <div class="pnd-notebook-share-modal__results-wrapper">
                                <div *ngIf="autocomplete.results?.length" class="pnd-notebook-share-modal__results">
                                    <div *ngFor="let item of autocomplete.results" 
                                    (click)="onAutocompleteClick(item)"
                                    class="pnd-notebook-share-modal__item">
                                        <div *ngIf="item.thumb" class="pnd-notebook-share-modal__item-thumb">
                                            <img [src]="(imageDataService.images[item.thumb]?.data | async) || item.thumb"
                                                onerror="this.style.display='none'">
                                        </div>
                                        <div class="pnd-notebook-share-modal__item-content">
                                            <div class="pnd-notebook-share-modal__item-label">{{ item.username }}</div>
                                            <div [hidden]="item.hideEmail" class="pnd-notebook-share-modal__item-email">{{ item.email }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end/FORM SECTION -->

                    <!-- LIST SECTION -->
                    <div *ngIf="data.body.listSection as list" 
                    class="pnd-notebook-share-modal__section pnd-notebook-share-modal__list">
                        <div class="pnd-modal__body-title">
                            {{ list.title }}
                        </div>
                        <!-- Da togliere -->
                        <div *ngIf="data.invitationsList">
                            <p *ngFor="let el of data.invitationsList.keys()">{{data.invitationsList.get(el).email}} ({{data.invitationsList.get(el).action}})</p>
                        </div>
                        <!-- --- -->
                        <!-- <div class="pnd-modal__body-list">
                            <pnd-notebook-share-user-item *ngFor="let item of list.items" 
                            [item]="item" [emit]="emit"></pnd-notebook-share-user-item>
                        </div> -->
                    </div>
                    <!-- end/LIST SECTION -->
                </ng-container>

                <!-- CONFIRM SECTION -->
                <ng-container *ngIf="data.body.confirmSection as confirm">
                    <div class="pnd-notebook-share-modal__section pnd-notebook-share-modal__section-confirm">
                        <div class="pnd-modal__body-text">
                            {{ confirm.text }}
                        </div>
                        <pnd-notebook-share-user-selected [data]="data"></pnd-notebook-share-user-selected>
                    </div>
                </ng-container>
                <!-- end/CONFIRM SECTION -->
            </div>
            
            <div class="pnd-modal__actions">
                <a *ngFor="let action of data.actions" class="pnd-btn {{ action.classes || '' }}" 
                (click)="onClick($event, action.payload)">
                    {{ action.label }}
                </a>
            </div>

        </div>
    </div>
</div>
