@use "../generic/color_scheme";
@use "../generic/mixins";
@use "../generic/variables";

/**
 * RESOURCE MODAL
 *
 * Style for the modal.
 */
 
/* ------------------------------------ *\
   #RESOURCE MODAL
\* ------------------------------------ */
.pnd-login-modal {
    z-index: variables.$z-index-max;
    color: variables.$color-text;
    font-size: variables.$font-size-m;
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-normal;

    &__window {
        position: relative;
        z-index: 20;
        max-width: variables.$modal-width;
        background: variables.$color-background-base;
        border: 1px solid variables.$color-border-normal;
        margin: variables.$space*8 auto 0 auto;
        border-radius: variables.$border-radius-hard;
        overflow-y: auto;
        @include mixins.cardShadow-1;
    }

    /* Close */
    &__close {
        position: absolute;
        top: variables.$space*2;
        right: variables.$space*2;
        cursor: pointer;
    }

    &__close-link {
        color: color_scheme.$color-gray-04;
        font-size: variables.$font-size-l;
        text-decoration: none;
    }

    /* Loader */
    &__loader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Error */
    &__error-title {
        margin-bottom: variables.$space*2;
        font-size: variables.$font-size-l;
        font-family: variables.$font-family-main;
    }

    &__error-text {
        font-size: variables.$font-size-s;
    }
}


/* ------------------------------------ *\
   #HEADER
\* ------------------------------------ */
.pnd-login-modal {
    &__header {
        padding: variables.$space*3;
        text-align: center;
    }

    &__header-logo {
        margin-bottom: variables.$space;
        font-size: variables.$font-size-xxxl;
        color: color_scheme.$color-main;
        
        .pnd-svg-icon, .pnd-svg-icon svg {
            width: variables.$font-size-xxxl;
            height: variables.$font-size-xxxl;
        }
    }

    &__header-title {
        margin: 0 0 variables.$space*0.5 0;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-normal;
        font-size: variables.$font-size-xxl;
    }

    &__header-small-title {
        margin: 0 0 variables.$space*0.5 0;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-normal;
        font-size: variables.$font-size-xl;
    }

    &__header-text {
        margin: 0;
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-normal;
        font-size: variables.$font-size-m;
        color: variables.$color-text-light;
    }
}

/* ------------------------------------ *\
   #FORM
\* ------------------------------------ */
.pnd-login-modal {
    &__form {
        padding: 0 variables.$space*3 variables.$space*3 variables.$space*3;
        border-bottom: 1px solid variables.$color-border-normal;
    }

    &__form-row {
        margin-bottom: variables.$space*1.5;
        @include mixins.consistent;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__form-label {
        display: block;
        margin-bottom: variables.$space;
        color: variables.$color-text;
        font-size: variables.$font-size-m;
        font-weight: variables.$font-weight-normal;
    }

    &__form-input {
        display: block;
        width: 100%;
    }

    &__form-checkbox-wrapper {
        display: flex;

        .pnd-login-modal__form-checkbox {
            margin-right: variables.$space;
            flex-grow: 0;
            flex-shrink: 0;
            cursor: pointer;
        }

        .pnd-login-modal__form-label {
            font-size: variables.$font-size-s;
            cursor: pointer;
        }
    }

    &__form-button {
        width: 100%;
    }

    &__form-secondary-link {
        text-align: center;
    }

    &__form-secondary-link-text {
        margin: 0;
    }
}


/* ------------------------------------ *\
   #SOCIAL-BUTTONS
\* ------------------------------------ */
.pnd-login-modal {
    &__social-buttons {
        padding: variables.$space*3;
        text-align: center;
        
        .pnd-btn {
            width: 100%;
        }

        .pnd-btn:not(:last-child) {
            margin-right: variables.$space;
            margin-bottom: variables.$space;
        }
    }
}


/* ------------------------------------ *\
   #FOOTER
\* ------------------------------------ */
.pnd-login-modal {
    &__footer {
        padding: variables.$space*2;
        border-top: 1px solid variables.$color-border-normal;
        text-align: center;
    }

    &__footer-text {
        display: inline-block;
        margin: 0 variables.$space*0.5 0 0;
        font-size: variables.$font-size-s;
    }

    &__footer-link {
        display: inline-block;
        font-size: variables.$font-size-s;
        color: variables.$color-text;
        transition: all variables.$transition-durations;
        text-decoration: underline;
        text-decoration-color: rgba(variables.$color-text, .3);
        text-underline-offset: 5px;
        
        &:hover {
            color: variables.$color-text-link;
            text-decoration-color: rgba(variables.$color-text-link, .7);
        }
    }
}


/* ------------------------------------ *\
   #OVERLAY
\* ------------------------------------ */
.pnd-login-modal {
    &__overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(color_scheme.$color-gray-02, .8);
    }
}


/* ------------------------------------ *\
   #ERRORS
\* ------------------------------------ */
.pnd-login-modal {
    &__form-input.has-error {
        
    }

    &__form-error {
        margin-top: variables.$space*0.5;
        color: color_scheme.$color-error;
        font-size: variables.$font-size-xs;
        font-weight: variables.$font-weight-bold;
    }
}