/**
 * SIDEBAR
 *
 * Style for the whole sidebar.
 */

/* ------------------------------------ *\
   #GENERAL-SIDEBAR
\* ------------------------------------ */
.pnd-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: $z-index-sidebar;
    font-family: $font-family-main;

    &.is-expanded {
        width: $sidebar-exploded-width + 1;

        .n7-annotation__container.is-hovered {
            .n7-annotation__body {
                background: rgba(46, 230, 230, 0.4);
            }
        }
    }

    &.is-collapsed {
        width: $sidebar-collapsed-width + 1;
    }
}


/* ------------------------------------ *\
   #LOGO
\* ------------------------------------ */
.pnd-sidebar {
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $sidebar-header-height;
        width: $sidebar-header-height;
        margin-left: -$sidebar-header-height;
        @include punditGradient-1;
        color: $color-text-inverse;
        font-size: $font-size-xl;
        border-radius: 50%;
        cursor: pointer;
        z-index: 5;
        transition: right $transition-durations ease-out;
    }

    &.is-expanded {
        .pnd-sidebar__logo {
            position: fixed;
            top: $space * 2;
            right: $sidebar-exploded-width - 20px;
        }
    }

    &.is-collapsed {
        .pnd-sidebar__logo {
            position: fixed;
            top: $space * 2;
            right: $space * 4;
        }
    }
}


/* ------------------------------------ *\
   #HEADER
\* ------------------------------------ */
.pnd-sidebar {
    &.is-expanded {
        .pnd-sidebar__header {
            // animation: expanding 0.5s both;
        }
    }

    &.is-collapsed {
        .pnd-sidebar__header {
            // display: none;
            opacity: 0;
            margin-right: -$sidebar-exploded-width;
        }
    }

    &.has-notebook-panel-open {
        .pnd-sidebar__header {
            box-shadow: none;
            border-bottom-color: $color-border-light;
        }
    }

    &__header {
        position: fixed;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $sidebar-exploded-width;
        height: $sidebar-header-height;
        margin-top: $space * 2;
        padding-left: $sidebar-header-height/2 + $space;
        top: 0;
        right: 0;
        background-color: $color-background-base;
        color: $color-text;
        border-top: 1px solid $color-border-normal;
        border-bottom: 1px solid $color-border-normal;
        @include cardShadow-1;
        z-index: 3;
        opacity: 1;
        transition: all $transition-durations ease-out;
    }

    &__user-name {
        margin-right: auto;
        font-size: $font-size-xs;
        cursor: pointer;
    }

    &__user-name-link {
        color: $color-text;
        transition: color $transition-durations;

        &:hover {
            color: $color-text-link;
        }

        &:visited,
        &:active {
            color: $color-text;
        }
    }

    &__actions {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
    }

    &__action {
        display: flex;
        box-sizing: border-box;
        width: $sidebar-header-height;
        height: $sidebar-header-height;
        justify-content: center;
        align-items: center;
        border-left: 1px solid $color-border-normal;
        cursor: pointer;
        font-size: $font-size-m;
        color: $color-text-light;
        transition: color $transition-durations;

        &:hover {
            color: $color-text-link;
        }

        &.is-active {
            color: $color-text-link;
            border-bottom: 3px solid $color-main;
        }
    }
}


/* ------------------------------------ *\
   #CONTENT
\* ------------------------------------ */
.pnd-sidebar {
    &__content {
        position: absolute;
        border-left: 1px solid $color-border-normal;
        right: 0px;
        top: 0px;
        width: $sidebar-exploded-width;
        height: 100vh;
        background-color: $color-background-light;
        z-index: 1;
        transition: all $transition-durations*1.5 ease-out;
    }

    &.is-expanded {
        .pnd-sidebar__content {}        
    }

    &.is-collapsed {
        .pnd-sidebar__content {
            margin-right: - ($sidebar-exploded-width - $sidebar-collapsed-width);
            overflow: hidden;
        }
    }
}


/* ------------------------------------ *\
    ANIMATIONS
\* ------------------------------------ */
/*
@keyframes collapsing {
    0% {
        // sidebar is open and visible
        transform: translateX(0px);
        visibility: visible;
    }
    99% {
        // sidebar is closed and still visible (document is wider)
        transform: translateX(372px);
        visibility: visible;
    }
    100% {
        // sidebar is open but invisible (original document width)
        transform: translateX(0px);
        visibility: hidden;
    }
}

@keyframes expanding {
    from {
        transform: translateX(372px);
        visibility: visible;
    }
    to {
        transform: translateX(0px);
        visibility: visible;
    }
}
*/