@use "../generic/color-scheme";
@use "../generic/mixins";
@use "../generic/variables";

/**
 * SIDEBAR
 *
 * Style for the whole sidebar.
 */

/* ------------------------------------ *\
   #GENERAL-SIDEBAR
\* ------------------------------------ */
.pnd-sidebar {
    z-index: variables.$z-index-sidebar;
    font-family: variables.$font-family-main;

    &.is-expanded {
        width: variables.$sidebar-exploded-width + 1;

        .n7-annotation__container.is-hovered {
            .n7-annotation__body {
                background: rgba(46, 230, 230, 0.4);
            }
        }
    }

    &.is-collapsed {
        width: variables.$sidebar-collapsed-width + 1;
    }
}


/* ------------------------------------ *\
   #LOGO
\* ------------------------------------ */
.pnd-sidebar {
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: variables.$sidebar-header-height;
        width: variables.$sidebar-header-height;
        margin-left: -(variables.$sidebar-header-height);
        @include mixins.punditGradient-1;
        color: variables.$color-text-inverse;
        font-size: variables.$font-size-xl;
        border-radius: 50%;
        cursor: pointer;
        z-index: 30;
        // transition: right $transition-durations ease-out;

        .pnd-svg-icon, .pnd-svg-icon svg {
            width: variables.$font-size-xl;
            height: variables.$font-size-xl;
        }
    }

    &.is-expanded {
        .pnd-sidebar__logo {
            position: fixed;
            top: variables.$space * 2;
            right: variables.$sidebar-exploded-width - 20px;
        }
    }

    &.is-collapsed {
        .pnd-sidebar__logo {
            position: fixed;
            top: variables.$space * 2;
            right: variables.$space * 4;
        }
    }
}


/* ------------------------------------ *\
   #HEADER
\* ------------------------------------ */
.pnd-sidebar {
    &.is-expanded {
        .pnd-sidebar__header {
            // animation: expanding 0.5s both;
        }
    }

    &.is-collapsed {
        .pnd-sidebar__header {
            // display: none;
            opacity: 0;
            margin-right: -(variables.$sidebar-exploded-width);
        }
    }

    &.has-notebook-panel-open {
        .pnd-sidebar__header {
            box-shadow: none;
            border-bottom-color: variables.$color-border-light;
        }
    }

    &__header {
        position: fixed;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: variables.$sidebar-exploded-width;
        height: variables.$sidebar-header-height;
        margin-top: variables.$space * 2;
        padding-left: variables.$sidebar-header-height*0.5 + variables.$space;
        top: 0;
        right: 0;
        background-color: variables.$color-background-base;
        color: variables.$color-text;
        border-top: 1px solid variables.$color-border-normal;
        border-bottom: 1px solid variables.$color-border-normal;
        @include mixins.cardShadow-1;
        z-index: 20;
        opacity: 1;
        // transition: all $transition-durations ease-out;
    }

    &__user-name {
        margin-right: auto;
        font-size: variables.$font-size-xs;
        cursor: pointer;
    }

    &__header-login, &__header-register {
        font-weight: variables.$font-weight-bold;
        color: variables.$color-text;
        // transition: color $transition-durations;

        &:hover {
            color: variables.$color-text-link;
        }

        &:visited,
        &:active {
            color: variables.$color-text;
        }
    }

    &__header-separator {
        margin: 0 variables.$space;
        background: color-scheme.$color-gray-03;
        width: 1px;
        height: variables.$font-size-xs;
        display: inline-block;
        vertical-align: middle;
    }

    &__user-name-link {
        color: variables.$color-text;
        text-decoration: none;
        // transition: color $transition-durations;

        &:visited,
        &:active {
            color: variables.$color-text;
        }

        &:hover {
            color: variables.$color-text-link;
        }
    }

    &__actions {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
    }

    &__action {
        display: flex;
        box-sizing: border-box;
        width: variables.$sidebar-header-height;
        height: variables.$sidebar-header-height;
        justify-content: center;
        align-items: center;
        border-left: 1px solid variables.$color-border-normal;
        cursor: pointer;
        font-size: variables.$font-size-m;
        color: variables.$color-text-light;
        // transition: color $transition-durations;

        &:hover {
            color: variables.$color-text-link;
        }

        &.is-active {
            color: variables.$color-text-link;
            border-bottom: 3px solid color-scheme.$color-main;
        }

        .pnd-svg-icon svg {
            width: 18px;
            height: auto;
        }
        
        &.is-bell {
            position: relative;
            border-bottom: transparent
        }
        &__badge {
            background-color: color-scheme.$color-main;
            color: white;
            width: 8px;
            height: 8px;
            margin: 0;
            text-align: center;
            border-radius: 50%;
            border: 1px solid ;
            position: absolute;
            top: 17px;
            right: 5px;
            padding: 2px;
            font-size: xx-small;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


/* ------------------------------------ *\
   #CONTENT
\* ------------------------------------ */
.pnd-sidebar {
    &__content {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: variables.$sidebar-exploded-width;
        height: 100vh;
        background-color: variables.$color-background-light;
        border-left: 1px solid variables.$color-border-normal;
        // transition: all $transition-durations*1.5 ease-out;
        @include mixins.cardShadow-left;
    }

    &.is-expanded {
        .pnd-sidebar__content {}
    }

    &.is-collapsed {
        .pnd-sidebar__content {
            width: variables.$sidebar-collapsed-width;
            overflow: hidden;
        }
    }
}

/* ------------------------------------ *\
   #USER-POPOVER
\* ------------------------------------ */
.pnd-sidebar {
    &__user-popover {
        position: absolute;
        background-color: variables.$color-background-base;
        z-index: 40;
        top: variables.$sidebar-header-height;
        border: 1px solid variables.$color-border-normal;
        padding: 0;
        border-radius: variables.$border-radius;
        @include mixins.cardShadow-1;
    }

    &__user-popover-list {
        list-style: none;
        margin: 0;
        padding: variables.$space 0;
    }

    &__user-popover-item {
        padding: variables.$space variables.$space*2;
        font-size: variables.$font-size-s;
        color: variables.$color-text;
        cursor: pointer;
        transition: color variables.$transition-durations;

        &:hover {
            color: variables.$color-text-link;
        }

        a {
            text-decoration: none;
            color: variables.$color-text;

            &:hover {
                color: variables.$color-text-link;
            }
        }
    }
}


/* ------------------------------------ *\
   #LOADER WRAPPER
\* ------------------------------------ */
.pnd-sidebar {
    &__loader-wrapper {
        position: fixed;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: variables.$sidebar-exploded-width;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 20;
        
        .pnd-loader {
            width: 100%;
        }
    }
}

.pnd-sidebar__content {

    &__action {
        margin: 70px  variables.$space variables.$space variables.$space;
        width: auto;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: variables.$font-size-m;
        color: variables.$color-text-light;
        // transition: color $transition-durations;

        &:hover {
            color: variables.$color-text-link;
        }

        &.is-active {
            color: variables.$color-text-link;
            border-bottom: 3px solid color-scheme.$color-main;
        }

        .pnd-svg-icon svg {
            width: 20px;
            height: auto;
        }
    }
}

// FULLPAGE DROPDOWN SELECT
.pnd-sidebar__content {
    .pnd-dropdown {
        position: absolute;
        margin: 70px variables.$space;
        width: calc(100% - 16px);
    }
}


/* ------------------------------------ *\
    ANIMATIONS
\* ------------------------------------ */
/*
@keyframes collapsing {
    0% {
        // sidebar is open and visible
        transform: translateX(0px);
        visibility: visible;
    }
    99% {
        // sidebar is closed and still visible (document is wider)
        transform: translateX(372px);
        visibility: visible;
    }
    100% {
        // sidebar is open but invisible (original document width)
        transform: translateX(0px);
        visibility: hidden;
    }
}

@keyframes expanding {
    from {
        transform: translateX(372px);
        visibility: visible;
    }
    to {
        transform: translateX(0px);
        visibility: visible;
    }
}
*/