<ng-container *ngIf="data">
    <div class="notebook-panel__select-cont">
        <ul *ngIf="data.mode === 'select'"
                class="notebook-panel__select"
                name="current-notebook"
                id="current-notebook">

            <!-- list of selectable notebooks -->
            <ng-container *ngFor="let notebook of data.notebookList">
                <li (click)="onClick('option', notebook.id)"
                        [class]="notebook.id === data.selectedNotebook ? 'selected' : ''">
                    {{ notebook.label }}
                </li>
            </ng-container>

            <!-- create new notebook option -->
            <ng-container *ngIf="data.createOption as create">
                <li (click)="onInputMode()">
                    {{ create.label }}
                </li>
            </ng-container>
        </ul>

        <!-- creating a new notebook -->
        <input *ngIf="data.mode === 'input'"
               type="text"
               name="new-notebook"
               (input)="onInput($event.target.value)">
        <button class="pnd-btn"
                (click)="onCreation(data._meta.inputValue)">
            Create
        </button>
    </div>
</ng-container>
