<ng-container *ngIf="data">
    <div class="pnd-notebook-selector {{ data._meta?.isExpanded ? 'is-expanded' : '' }}">

        <ng-container *ngIf="data.mode === 'select'">
            <!-- Selected element -->
            <button class="pnd-notebook-selector__selected"
                    (click)="onToggleExpand()">
                <div class="pnd-notebook-selector__selected-label"
                     title="{{data.selectedNotebook.label}}">
                    <ng-container *ngTemplateOutlet="sharingModeIcon;
                                  context: {sharingMode: data.selectedNotebook.sharingMode}">
                    </ng-container>
                    {{data.selectedNotebook.label}}
                </div>
            </button>

            <!-- Dropdown -->
            <div class="pnd-notebook-selector__dropdown"
                 name="current-notebook"
                 id="current-notebook">

                <!-- list of selectable notebooks -->
                <ng-container *ngFor="let notebook of data.notebookList">
                    <div (click)="onClick('option', notebook.id)"
                         class="pnd-notebook-selector__dropdown-notebook {{notebook.id === data.selectedNotebook ? 'selected' : ''}}">
                        <ng-container *ngTemplateOutlet="sharingModeIcon; context: {
                             sharingMode: notebook.sharingMode
                         }"></ng-container>
                        {{ notebook.label }}
                    </div>
                </ng-container>

                <!-- create new notebook option -->
                <ng-container *ngIf="data.createOption as create">
                    <div class="pnd-notebook-selector__dropdown-new"
                         (click)="onInputMode()">
                        {{ create.label }}
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <!-- Creating a new notebook -->
        <div *ngIf="data.mode === 'input'"
             class="pnd-notebook-selector__create">
            <input type="text"
                   name="new-notebook"
                   class="pnd-notebook-selector__create-field small"
                   placeholder="Insert new notebook's name"
                   (input)="onInput($event.target.value)"
                   (keyup)="onKeyUp($event)">
            <button class="pnd-btn pnd-notebook-selector__create-btn-cancel"
                    [disabled]="!!data.isLoading"
                    (click)="onCreation('')">
                {{ labels.cancel }}
            </button>
            <button class="pnd-btn pnd-btn-cta pnd-notebook-selector__create-btn-save"
                    [ngClass]="{
                        'is-loading': !!data.isLoading
                    }"
                    [disabled]="!!(data.isLoading || data._meta.inputValue?.length < 3)"
                    (click)="onCreation(data._meta.inputValue)">
                <ng-container *ngIf="data.isLoading">
                    <span class="pnd-btn-loader"></span>
                </ng-container>
                <ng-container *ngIf="!data.isLoading">
                    {{ labels.create }}
                </ng-container>
            </button>
        </div>

    </div>
</ng-container>

<!-- NG TEMPLATES -->

<ng-template #sharingModeIcon
             let-icon="sharingMode">
    <span class="pundit-icon-lock"
          *ngIf="icon === 'private'">
    </span>
    <span class="pundit-icon-users"
          *ngIf="icon === 'shared'">
    </span>
</ng-template>
