<!-- Semantic triple -->
@if ((semantic$ | async)?.data; as data) {
  <div class="pnd-annotation__semantic">
    @for (triple of data; track triple) {
      <div class="pnd-annotation__semantic-item">
        <div class="pnd-annotation__semantic-item-predicate">
          {{ triple?.predicate?.label }}
        </div>
        @switch (triple.object?.type) {
          @case ('literal') {
            <div class="pnd-annotation__semantic-item-object">
              {{ triple.object?.text }}
            </div>
          }
          @case ('uri') {
            @if (triple.object?.source === 'search') {
              <div class="pnd-annotation__semantic-item-object ">
                <div class="pnd-annotation__header">
                  <span class="pnd-annotation__header-thumb-wrapper">
                    <img [src]="(imageDataService.images[triple.object?.depiction]?.data | async) || triple.object?.depiction"
                      onerror="this.style.display='none'" class="pnd-annotation__header-thumb-image" >
                  </span>
                  <div class="pnd-annotation__header-info">
                    <div>
                      <a [href]="triple.object?.uri" target="_blank">
                        <div class="pnd-annotation__header-name" >{{triple.object?.label}}</div>
                      </a>
                    </div>
                    @if (triple.object?.rdfTypes?.length) {
                      <div class="pnd-annotation__header-types">
                        @for (rdfType of triple.object?.rdfTypes; track rdfType) {
                          <a [href]="rdfType.uri" class="pnd-annotation__header-type">
                            <span  >
                              {{ rdfType.label }}
                            </span>
                          </a>
                        }
                      </div>
                    }
                  </div>
                </div>
                <div class="pnd-annotation__semantic-item-object__description">
                  {{triple.object?.description}}
                </div>
              </div>
            } @else {
              <div class="pnd-annotation__semantic-item-object">
                {{ triple.object?.uri }}
              </div>
            }
          }
          @case ('date') {
            <div class="pnd-annotation__semantic-item-object">
              {{ triple.object?.date | date:'M/d/yy, h:mm a' }}
            </div>
          }
        }
      </div>
    }
  </div>
}