<div *ngIf="data"
     class="pnd-annotation {{ data.classes || ''}}"
     [ngClass]="{'is-collapsed': data.isCollapsed, 'is-expanded': !data.isCollapsed, 'has-comment': data.comment}"
     (click)="data.payload && onContainerClick(data.payload)"
     (mouseenter)="data.payload && onEnter(data.payload)"
     (mouseleave)="data.payload && onLeave(data.payload)">
    
    <ng-container *ngIf="!data.isCollapsed">
        <!-- view the full annotation -->
        <ng-container *ngTemplateOutlet="expanded"></ng-container>
    </ng-container>
    
    <ng-container *ngIf="data.isCollapsed">
        <!-- minimal view of the annotation -->
        <ng-container *ngTemplateOutlet="collapsed"></ng-container>
    </ng-container>

</div>

<ng-template #expanded>
    <!-- Header -->
    <div class="pnd-annotation__header">
        
        <div class="pnd-annotation__header-thumb-wrapper">
            <img [src]="data.user.image"
                 alt="{{data.user.name}}"
                 class="pnd-annotation__header-thumb-image">
        </div>
        
        <div class="pnd-annotation__header-info">
            <ng-container *ngIf="data.user.anchor as anchor">
                <a (click)="onClick($event, anchor.payload)">
                    <div class="pnd-annotation__header-name">{{data.user.name}}</div>
                </a>
            </ng-container>
            
            
            <div class="pnd-annotation__header-additional-info">
                <span class="pnd-annotation__header-date">{{data.date}}</span>
                <span *ngIf="data.notebook?.anchor"
                      class="pnd-annotation__header-notebook">in
                    <ng-container *ngIf="data.notebook.anchor as anchor">
                        <a (click)="onClick($event, anchor.payload)"
                           class="pnd-annotation__header-notebook-link">
                           <span>{{ data.notebook.name }}</span>
                        </a>
                    </ng-container>
                </span>
            </div>
        </div>
        
        <div *ngIf="data.menu"
             class="pnd-annotation__header-menu {{ data.menu.classes || '' }}">
            <!-- arrow icon -->
            <button class="pnd-annotation__header-menu-button"
                  [ngClass]="data.menu.icon['id']"
                  (click)="onClick($event, data.menu.icon['payload'])">
            </button>

            <div class="pnd-annotation__menu-dropdown"
                *ngIf="data.activeMenu === 'actions'">
                <!-- menu actions -->
                <div class="pnd-annotation__menu-actions">
                    <div *ngFor="let action of data.menu.actions"
                         (click)="onClick($event, action.payload)"
                         class="pnd-annotation__menu-action">
                        {{ action.label }}
                    </div>
                </div>
                <div class="pnd-annotation__menu-notebooks"
                     *ngIf="data.activeMenu === 'notebooks'">
                    <div class="pnd-annotation__menu-notebooks-header"
                         (click)="onClick($event, data.menu.notebooks.header.payload)">
                        <!-- notebooks header label -->
                        <span class="pnd-annotation__notebooks-label">
                            {{ data.menu.notebooks.header.label }}
                        </span>
                    </div>
                    <div class="pnd-annotation__select-cont">
                        <select class="pnd-annotation__select"
                                (change)="onChange($event, { annotation: data.payload.id, notebook: $event.target.value })"
                                (click)="onClick($event, 'notebook-select')">
                            <option *ngFor="let notebook of data.menu.notebooks.items"
                                    value="{{ notebook.payload.notebookId }}"
                                    [selected]="notebook.payload.notebookId === data._raw.notebookId">
                                {{ notebook.label }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END // Header -->

    <!-- Highlight -->
    <div class="pnd-annotation__highlight"
         *ngIf="data.body">
        <span class="pnd-annotation__highlight-text">
            {{data.body}}
        </span>
    </div>
    <!-- END // Highlight -->

    <!-- Caret and comment -->
    <div class="pnd-annotation__caret"
        *ngIf="data.comment"></div>

    <div class="pnd-annotation__comment"
        *ngIf="data.comment">
        <span class="pnd-annotation__comment-text">
            {{data.comment}}
        </span>
    </div>
    <!-- END // Caret and comment -->
</ng-template>

<ng-template #collapsed>
    <!-- Highlight -->
    <div class="pnd-annotation__highlight"
         *ngIf="data.body">
        <span class="pnd-annotation__highlight-text">
            {{data.body}}
        </span>
    </div>
    <!-- END // Highlight -->

    <!-- Caret and comment -->
    <div class="pnd-annotation__caret"
         *ngIf="data.comment"></div>

    <div class="pnd-annotation__comment"
         *ngIf="data.comment">
        <span class="pnd-annotation__comment-text">
            {{data.comment}}
        </span>
    </div>
    <!-- END // Caret and comment -->
</ng-template>
