<div *ngIf="data"
     class="pnd-annotation {{ data.classes || ''}}"
     [ngClass]="{'is-collapsed': data.isCollapsed, 'has-comment': data.comment}"
     (click)="data.payload && onContainerClick(data.payload)"
     (mouseenter)="data.payload && onEnter(data.payload)"
     (mouseleave)="data.payload && onLeave(data.payload)">
    
    <ng-container *ngIf="!data.isCollapsed">
        <!-- view the full annotation -->
        <ng-container *ngTemplateOutlet="expanded"></ng-container>
    </ng-container>
    
    <ng-container *ngIf="data.isCollapsed">
        <!-- minimal view of the annotation -->
        <ng-container *ngTemplateOutlet="collapsed"></ng-container>
    </ng-container>

</div>

<ng-template #expanded>
    <!-- Metadata row -->
    <div class="pnd-annotation__metadata-row">
        <!-- avatar -->
        <div class="pnd-annotation__image-wrapper">
            <img [src]="data.user.image"
                 alt="User profile picture"
                 class="pnd-annotation__image">
        </div>
        <!-- name -->
        <div class="pnd-annotation__info-cont">
            <n7-anchor-wrapper [data]="data.user.anchor">
                <div class="pnd-annotation__user-name">{{data.user.name}}</div>
            </n7-anchor-wrapper>
            <!-- time ago - parent notebook -->
            <div class="pnd-annotation__info">
                <span class="pnd-annotation__date">{{data.date}}</span>
                <span *ngIf="data.notebook?.anchor?.href"> in
                    <!-- rendering error appeared with n7-anchor-wrapper -->
                    <a [href]="data.notebook.anchor.href"
                       [target]="data.notebook.anchor.target || '_self'">
                        <span>{{data.notebook.name}}</span>
                    </a>
                </span>
            </div>
        </div>
        <div *ngIf="data.menu"
             class="pnd-annotation__menu {{ data.menu.classes || '' }}">
            <!-- arrow icon -->
            <button class="pnd-annotation__menu-icon"
                  [ngClass]="data.menu.icon['id']"
                  (click)="onClick($event, data.menu.icon['payload'])">
            </button>
            <div class="pnd-annotation__menu-dropdown">
                <!-- menu actions -->
                <div class="pnd-annotation__menu-actions"
                     *ngIf="data.activeMenu === 'actions'">
                    <div *ngFor="let action of data.menu.actions"
                         (click)="onClick($event, action.payload)"
                         class="pnd-annotation__menu-action">
                        {{ action.label }}
                    </div>
                </div>
                <div class="pnd-annotation__menu-notebooks"
                     *ngIf="data.activeMenu === 'notebooks'">
                    <div class="pnd-annotation__menu-notebooks-header"
                         (click)="onClick($event, data.menu.notebooks.header.payload)">
                        <!-- notebooks header label -->
                        <span class="pnd-annotation__notebooks-label">
                            {{ data.menu.notebooks.header.label }}
                        </span>
                    </div>
                    <div class="pnd-annotation__select-cont">
                        <select class="pnd-annotation__select"
                                (change)="onChange($event, $event.target.value)"
                                (click)="onClick($event, 'notebook-select')">
                            <option *ngFor="let notebook of data.menu.notebooks.items"
                                    value="{{ notebook.payload }}">
                                {{ notebook.label }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END // Metadata row -->

    <hr class="pnd-annotation__divider">

    <!-- Highlight -->
    <div class="pnd-annotation__highlight"
         *ngIf="data.body">
        <span class="pnd-annotation__highlight-text">
            {{data.body}}
        </span>
    </div>
    <!-- END // Highlight -->

    <!-- Comment -->
    <div class="pnd-annotation__comment"
         *ngIf="data.comment">
        <span class="pnd-annotation__comment-text">
            {{data.comment}}
        </span>
    </div>
    <!-- Comment -->
</ng-template>

<ng-template #collapsed>
    <!-- Highlight -->
    <div class="pnd-annotation__highlight"
         *ngIf="data.body">
        <span class="pnd-annotation__highlight-text">
            {{data.body}}
        </span>
    </div>
    <!-- END // Highlight -->

    <!-- Comment -->
    <div class="pnd-annotation__caret"
         *ngIf="data.comment"></div>
    <div class="pnd-annotation__comment"
         *ngIf="data.comment">
        <span class="pnd-annotation__comment-text">
            {{data.comment}}
        </span>
    </div>
    <!-- Comment -->

</ng-template>
